<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="cssA/common.css">
    <link rel="stylesheet" href="cssA/style.css">
    <link rel="stylesheet" href="cssA/layout.css">
    <link rel="stylesheet" href="cssA/styleReg.css">
    <link rel="stylesheet" href="cssA/main.css">
    <script src="jsA/jquery-3.7.0.min.js"></script>
    <!-- <script src="jsA/common.js"></script> -->

<body>
    <div class="table foldStyle">

        <table>
            <caption>자주 묻는 질문 목록(번호, 제목)</caption>
            <colgroup>
                <col width="5%" />
                <col />
                <col width="5%" />
            </colgroup>
            <!-- <thead>
                <tr>
                    <th>번호</th><th>제목</th><th>파일첨부</th>
                </tr>
            </thead> -->
            <tbody>
                
                    
                            <tr>
                                <td>1</td>
                                <td><button type="button" title="내용 자세히 보기">[질문1] 노동조합 회계공시 시스템에 회계를 공시하는 것은 법적 의무사항인지?</button></td>
                                
                                
                                    <td>
                                        <button type="button">
                                            <img src="/pap/common/images/sub/iconFile.png" alt="파일첨부 아이콘" onclick="fn_fileDown(20240000000188)">
                                        </button>
                                    </td>
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="preBox">
                                        <p>- 노동조합 또는 산하조직은 노동조합법 제11조의9에 따라 노동조합 회계공시 시스템에 결산결과를 공시할지 여부를 자율적으로 정할 수 있습니다. 
- 다만, 소득세법 제59조의4 및 동법 시행령 제80조에 따라 조합원이 소속된 노동조합(산하조직)과 그 상급단체*가 모두 결산결과를 공시하는 경우에 조합원이 노동조합(산하조직)에 납부한 조합비의 15%에 해당하는 세액공제 혜택을 받을 수 있습니다.
* 해당 노동조합(산하조직)이 소속된 총연합단체, 연합단체, 단위노동조합, 산하조직
- 이때 12.31. 기준 조합원 수 1,000인 미만인 단위노조(산하조직)는 공시하지 않아도 그 상급단체가 모두 공시하면 세액공제 혜택을 부여합니다.
* 상급단체인 단위노조(산하조직)가 조합원수 1,000인 미만이면 공시 불필요, (총)연합단체는 규모에 관계없이 공시 필요
</p>
                                    </div>
                                </td>
                            </tr>
                        
                            <tr>
                                <td>2</td>
                                <td><button type="button" title="내용 자세히 보기">[질문2] 회계 공시 대상 노동조합(산하조직)은 어떻게 되는지?</button></td>
                                
                                    <td></td>
                                
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="preBox">
                                        <p>- 고용노동부 노동조합 회계 공시시스템을 통해 공시할 수 있는 대상은 회계공시를 원하는 노동조합과 산하조직입니다.
- 총연합단체, 연합단체, 산업별·업종별·지역별 노동조합, 기업단위 노동조합등 노동조합과 지부‧지회‧분회 등 산하조직이 공시할 수 있습니다. </p>
                                    </div>
                                </td>
                            </tr>
                        
                            <tr>
                                <td>3</td>
                                <td><button type="button" title="내용 자세히 보기">[질문3] 총연합단체, 연합단체, 단위노조는 무슨 의미인지?</button></td>
                                
                                    <td></td>
                                
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="preBox">
                                        <p>- 단위노동조합은 특정 기업이나 사업장 또는 동종 산업, 지역, 업종에 종사하는 근로자들을 대상 조합원으로 하여 조직된 노동조합을 말합니다.(산업‧업종‧지역별‧기업단위 노동조합)
- 또한, 연합단체인 노동조합은 동종 산업의 단위노동조합을 구성원으로 하는 산업별 연합단체와 산업별 연합단체 또는 전국규모의 산업별 단위노동조합을 구성원으로 하는 총연합단체로 구분됩니다. </p>
                                    </div>
                                </td>
                            </tr>
                        
                            <tr>
                                <td>4</td>
                                <td><button type="button" title="내용 자세히 보기">[질문4] 총연합단체에서 회계를 공시하지 않는 경우 해당 총연합단체에 가맹한 1,000인 미만 노조(산하조직)도 조합비 세액공제 혜택을 부여받을 수 없는지?</button></td>
                                
                                
                                    <td>
                                        <button type="button">
                                            <img src="/pap/common/images/sub/iconFile.png" alt="파일첨부 아이콘" onclick="fn_fileDown(20240000000189)">
                                        </button>
                                    </td>
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="preBox">
                                        <p>- 조합원 수 1,000인 미만 노동조합(산하조직)의 경우 스스로는 공시하지 않아도 되지만, 해당 노동조합(산하조직)이 가맹한 총연합단체가 공시하지 않으면 해당 노동조합(산하조직)에 납부한 조합비에 대해 세액공제 혜택을 받을 수 없습니다. </p>
                                    </div>
                                </td>
                            </tr>
                        
                            <tr>
                                <td>5</td>
                                <td><button type="button" title="내용 자세히 보기">[질문5]  산별 노동조합 甲 내에 조직된 A 기업 지부의 조합원이 조합비를 甲에게 납부하고 있는데, 甲 외에 A 기업 지부도 공시해야 조합비 세액공제 혜택이 부여되는지?</button></td>
                                
                                
                                    <td>
                                        <button type="button">
                                            <img src="/pap/common/images/sub/iconFile.png" alt="파일첨부 아이콘" onclick="fn_fileDown(20240000000190)">
                                        </button>
                                    </td>
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="preBox">
                                        <p>- 산별 노동조합 甲이 직접 A 기업 지부의 조합비를 수령하고 A 기업 지부가 산별 노동조합 甲으로부터 교부금을 받아 지부를 운영하는 경우에 甲과 A 모두 공시하여야* A에 조합비 세액공제 혜택이 부여됩니다.
* 다만, 甲(A)이 1,000인 미만인 경우 甲(A)은 공시하지 않아도 연합단체, 총연합단체만 공시하면 A에 조합비 세액공제 혜택 부여</p>
                                    </div>
                                </td>
                            </tr>      
            </tbody>
        </table>
    </div>
    
</body>
</html>

<script>
    $('.foldStyle tr').click(function(){
    $(this).next('tr').find('td p').slideToggle().css('border-top', '1px solid #ddd');
});
</script>
