<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/jquery-3.7.1.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../style/jquery-ui.min.css">
</head>
<body>
    <input type="text" id="testPicker">

    <script>
        $(function(){
            $('#testPicker').datepicker({});
        })
    </script>
</body>
</html>



<div class="td__container file__select__container" id="pwLength">
    <div class="preview flex--box-c">
        <p class="upload__file__name">선택된 파일없음</p>
    </div>
    <label class="btn__file__select bg--transparent-00" for="profile_pic">파일선택</label>
    <label class="btn__file__select--mo bg--transparent-00" for="profile_pic"></label>
    <input type="file" class="file__post" id="profile_pic" name="profile_pic" style="opacity: 0; width: 0px;">
    <button type="button" class="btn__add bg--black-00" style="margin-left: auto;">+</button>
</div>