<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/default.css">

    <style>
        body {width: 1280px; margin: 0px auto;}
    </style>
</head>
<body>

        <!-- 검색 폼 -->
        <div class="search__form" style="margin-bottom: 1.6rem;">
            <form action="POST" class="flex--box border-top-large">
                    <div class="form-input">                                   
                        <div class="form-content">
                            <div style="min-width: 16rem;">
                                <select name="name2" id="name2" class="select--no--style" style="min-height: 4rem; position: relative;">
                                    <option value="option1">전체</option>
                                </select>
                            </div>
                            <input type="text" name="abc" id="abc" placeholder="노동조합명을 입력해주세요" style="height: 4rem; padding: 0 0.8rem;">
                        </div>
                    </div>
                    
    
                    <div class="form-radio">
                        <div class="form-title" style="min-width: 9.8rem;">
                            <span>사용여부</span>
                        </div>      
                    
    
                        <div class="form-content radio__wrap">
                            <input type="radio" id="radio">
                            <label for="radio">전체</label>
                            <input type="radio" id="radio">
                            <label for="radio">신규</label>
                            <input type="radio" id="radio">
                            <label for="radio">수정</label>
                        </div>
                    </div>
    
                    <div class="form-radio">
                      <div class="form-title" style="min-width: 9.8rem;">
                          <span>공시대상</span>
                      </div>      
                      <div class="form-content radio__wrap">
                          <input type="radio" id="radio">
                          <label for="radio">전체</label>
                          <input type="radio" id="radio">
                          <label for="radio">대상</label>
                          <input type="radio" id="radio">
                          <label for="radio">미대상</label>
                      </div>
                  </div>                    
            </form>
        </div>


    <!-- 검색 폼 -->
    <div class="search__form" style="margin-bottom: 1.6rem;">
        <form action="POST" class="flex--box border-top-large">
                <div class="form-input">                                   
                    <div class="form-content">
                        <div style="min-width: 16rem;">
                            <select name="name2" id="name2" class="select--no--style" style="min-height: 4rem; position: relative;">
                                <option value="option1">전체</option>
                            </select>
                        </div>
                        <input type="text" name="abc" id="abc" placeholder="노동조합명을 입력해주세요" style="height: 4rem; padding: 0 0.8rem;">
                    </div>
                </div>
                

                <div class="form-radio">
                    <div class="form-title" style="min-width: 9.8rem;">
                        <span>사용여부</span>
                    </div>      
                

                    <div class="form-content radio__wrap">
                        <input type="radio" id="radio">
                        <label for="radio">전체</label>
                        <input type="radio" id="radio">
                        <label for="radio">신규</label>
                        <input type="radio" id="radio">
                        <label for="radio">수정</label>
                    </div>
                </div>

                <div class="form-radio">
                  <div class="form-title" style="min-width: 9.8rem;">
                      <span>공시대상</span>
                  </div>      
                  <div class="form-content radio__wrap">
                      <input type="radio" id="radio">
                      <label for="radio">전체</label>
                      <input type="radio" id="radio">
                      <label for="radio">대상</label>
                      <input type="radio" id="radio">
                      <label for="radio">미대상</label>
                  </div>
              </div>

              <!-- 라디오 옵션 추가 및 삭제 -->
              
              <!-- <div class="form-radio">
                <div class="form-title" style="min-width: 9.8rem;">
                    <span>공시대상</span>
                </div>      
                <div class="form-content radio__wrap">
                    <input type="radio" id="radio">
                    <label for="radio">전체</label>
                    <input type="radio" id="radio">
                    <label for="radio">대상</label>
                    <input type="radio" id="radio">
                    <label for="radio">미대상</label>
                </div>
                </div> -->

                
        </form>
    </div>





</body>
</html>