<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/default.css">
</head>
<body>    

    <!-- 버튼 -->

    <div class="function__group">
        <!-- 
        아래 버튼 색상을 변경하시려면 bg--색상-00  부분에서 색상의 클래스명을 변경해주시면 됩니다.
        색상 목록 : blue, black, red, green, gray

        ex) 회색 버튼 <button type="button" class= "btn__control bg--gray-00">조회</button> 
        -->
        <button type="button" class="check__data btn__control bg--blue-00">조회</button>
        <button type="button" class="check__data btn__control bg--blue-00">다운로드</button>
        <button type="button" class="check__data btn__control bg--blue-00">버튼1</button>
        <button type="button" class="check__data btn__control bg--blue-00">버튼2</button>
    </div>


</body>
</html>