<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/default.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <style>
        .main__echart {
            /* border: 1px solid blue; */
        }

        .chartBox {
            background: #FFF;
            height: 40rem;
            border-top: 1px solid #E5E5E5;
            border-radius: 2.4rem;
            padding: 3rem 3.5rem 0 3.5rem;
            /* padding: 3rem 3.5rem; */
            box-shadow: 0rem 0rem 2rem 0 rgba(0, 0, 0, 0.1);
        }

        .main__echart .chartBox .title {margin-bottom: 3.2rem;}



        .main__echart .chartBox .echart {width: 100%; height: 18.8rem;}

        .chartBox .container { display: flex; justify-content: center; align-items: center;}

        .main__echart .data .unit {color: #767676; font-size: 1.3rem; margin-left: 0.4rem;}
        .data--bold {color: #000; font-size: 1.7rem; font-weight: bold;}
        .main__echart .data > h2 {font-size: 1.7rem; color: #767676;}

        .chartBox .title {font-size: 2.5rem;}

        .chart1,
        .chart2 {
            width: 320px;
        }

        #tableList tbody tr.on {
            background-color: #DEEBF7;
        }

        .chartData__wrap {display: flex; padding-top: 4rem;}
        .chartData__wrap .data {text-align: center; width: 50%;}


        /* .table, .chart1, .chart2 {
        width: 30%;
        margin: 10px;
        height: 100%;
        } */



      

        .table>#tableList {
            min-height: 40rem;
        }

        .main__echart .table tbody td {
            height: 6.5rem;
        }

        .main__echart .table th {
            height: 6.5rem;
        }

        /* .main__echart .echart {width: 100%; height: 18.8rem;} */

        /* .main__echart .chartBox > .echart {border: 1px solid red;} */
    </style>
</head>

<body>
    <div class="main__echart">
        <div class="inner flex--box-c" style="align-items: stretch; justify-content: space-between;">
            <div class="table table__vertical">
                <!-- <h2 class="title relative">노동조합 회계공시<span>(단위 : 천원)</span></h2> -->
                <table class="tdHover" id="tableList">
                    <caption>노동조합 회계공시(노동조합명, 총연합, 자산, 부채, 수입, 지출)</caption>
                    <colgroup>
                        <col width="30%">
                        <col width="25%">
                        <col>
                        <col>
                        <col>
                        <col width="11%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>노동조합명</th>
                            <th>총연합</th>
                            <th>자산</th>
                            <th>부채</th>
                            <th>수입</th>
                            <th>지출</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="txt--l"> (1) abc노동조합</td>
                            <td class="txt--c">abc총연맹</td>
                            <td>1,590</td>
                            <td>210</td>
                            <td>120</td>
                            <td>115</td>
                        </tr>
                        <tr class="on">
                            <td class="txt--l"> (2) ○○기업 노동조합</td>
                            <td class="txt--c">○○총연맹</td>
                            <td>2,360</td>
                            <td>1,250</td>
                            <td>870</td>
                            <td>643</td>
                        </tr>
                        <tr>
                            <td class="txt--l"> (3) ▲▲지역지회</td>
                            <td class="txt--c">총연합단체미가입</td>
                            <td>3,150</td>
                            <td>2,420</td>
                            <td>1,120</td>
                            <td>1,098</td>
                        </tr>
                        <tr>
                            <td class="txt--l"> (4) △△기업분회</td>
                            <td class="txt--c">기타</td>
                            <td>1,320</td>
                            <td>357</td>
                            <td>254</td>
                            <td>204</td>
                        </tr>
                        <tr>
                            <td class="txt--l"> (5) □□산업노동조합</td>
                            <td class="txt--c">□□총연맹</td>
                            <td>315</td>
                            <td>25</td>
                            <td>90</td>
                            <td>84</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="chart1">
                <!-- 				<div class="chartBox" id="mainChartDiv"><canvas id="mainChart" width="100%" height="100%"></canvas></div> -->
                <div class="chartBox">
                    <h2 class="title">자산 부채 현황</h2>

                    <div class="container">
                        <div id="pieChart" class="echart" style="user-select: none; height: 20rem; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative; overflow: visible;"  _echarts_instance_="ec_1724498288483"></div>
                    </div>
                    <div class="chartData__wrap">
                        <div class="data  dataEx">
                            <h2>자산</h2>
                            <div class="flex--box-c" style="justify-content: center;">
                                <p class="asset data--bold">데이터</p><span class="unit">(천원)</span>
                            </div>
                        </div>
                        <div class="data dataEx">
                            <h2>부채</h2>
                            <div class="flex--box-c" style="justify-content: center;">
                                <p class="income  data--bold">데이터 </p><span class="unit">(천원)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart2">
                <!-- 				<div class="chartBox" id="mainChartDiv2"><canvas id="mainChart2" width="100%" height="100%"></canvas></div> -->
                <div class="chartBox">
                    <h2 class="title">수입 지출 현황</h2>
                    <div class="container">
                        <div id="barChart" class="echart" style="width: 100%; height: 20rem; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1724498288484"></div>
                    </div>
                    <div class="chartData__wrap">
                        <div class="data  dataEx">
                            <h2>자산</h2>
                            <div class="flex--box-c" style="justify-content: center;">
                                <p class="revenue  data--bold">데이터</p><span class="unit">(천원)</span>
                            </div>
                        </div>
                        <div class="data dataEx">
                            <h2>부채</h2>
                            <div class="flex--box-c" style="justify-content: center;">
                                <p class="expend  data--bold">데이터 </p><span class="unit">(천원)</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>
<script src="
https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js
"></script>
<script>




    $(document).ready(function() {

   
        //처음에 첫번째 데이터 선택

        //테이블 tr 선택 차트출력
        $("#tableList tbody").on("click", "tr", function(e) {
            var trNum = $(e.target).closest('tr').prevAll().length;
            cnt = trNum;
            //튤팁제거(선택시 튤팁이 생기므로)
            $(".tooltip").remove();

            var d = parseInt(($(this).find("td:eq(2)").text()).replace(",", "")); //자산-자본
            var e = parseInt(($(this).find("td:eq(3)").text()).replace(",", "")); //부채
            var f = parseInt(($(this).find("td:eq(4)").text()).replace(",", "")); //수익
            var g = parseInt(($(this).find("td:eq(5)").text()).replace(",", "")); //지출

            //파이그래프
            $('.chart1 .dataEx .asset').html(d) // 자산 데이터 바인딩
            $('.chart1 .dataEx .income').html(e) // 부채 데이터 바인딩

            // 막대그래프
            $('.chart2 .dataEx .revenue').html(f) // 자산 데이터 바인딩
            $('.chart2 .dataEx .expend').html(g) // 부채 데이터 바인딩


            // 파이 차트 옵션
            var pieChartOption = {
                tooltip: {
                    trigger: 'item',
                    confine:true
                },

   
                
                series: [{
                    top: 0,
                    type: 'pie',
                    radius: ['42.6%', '100%'],
                    label: {
                        show: true,
                        textStyle: {
                            color: '#767676',
                            lineHeight: 24,
                            align: 'center'
                        },
                        position: 'center',
                        // align: 'center',  // 리치 텍스트의 중앙 정렬
                        fontSize: 18,
                        formatter: function(params){
                        return `자산\n {value|${e}}`    
                        },

                    
                        
                        rich: {
                            value: {
                            
                                fontSize: 18,
                                fontWeight:'bold',
                                align: 'center',  // 리치 텍스트의 중앙 정렬
                                padding: [0,4,0,0]
                            }
                        }
                        

                        // formatter: function(d) {
                        // 	if(d.value == 0) return '';
                        // 	return gfnAddCommas(d.value);
                        // }
                    },


                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    data: [{
                            value: d,
                            name: '자산',
                            itemStyle: {
                                color: '#005187'
                            }
                        },
                        {
                            value: e,
                            name: '부채',
                            itemStyle: {
                                color: '#00BA63'
                            }
                        }
                    ]
                }]
            };


            var pieChart = echarts.init(document.querySelector("#pieChart"));
            pieChart.setOption(pieChartOption);



            // 바 차트 옵션
            var barChartOption = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    top: '3%',
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: false,
                },
                xAxis: [{
                    type: 'category',
                    data: ['수입', '지출'],
                    axisLine: { show: false }, // 축 선 숨기기
                    axisTick: { show: false }, // 축 눈금선 숨기기
                    splitLine: { show: false }, // 축 분할선 숨기기
                    axisLabel: { show: true } // 축 레이블은 보이도록 설정
                }],
                yAxis: [{
                    type: 'value',
                    axisLine: { show: false }, // 축 선 숨기기
                    axisTick: { show: false }, // 축 눈금선 숨기기
                    splitLine: { show: false }, // 축 분할선 숨기기
                    axisLabel: { show: true } // 축 레이블은 보이도록 설정
                }],
                series: [{
                    type: 'bar',
                    label: {
                        show: false,
                        fontSize: 18,
                        // formatter: function(d) {
                        // 	return gfnAddCommas(d.value);
                        // }
                    },
                    barWidth : '80px',
                    // barCategoryGap: '80',
                    barGap: '80px',

                    // emphasis: {
                    //     focus: 'series'
                    // },
                    data: [{
                            value: f,
                            itemStyle: {
                                color: '#005187'
                            }
                        },
                        {
                            value: g,
                            itemStyle: {
                                color: '#00BA63'
                            }
                        }
                    ]
                }]
            };

            var barChart = echarts.init(document.querySelector("#barChart"));
            barChart.setOption(barChartOption);



            $("#tableList tbody tr").removeClass('on');
            $(this).addClass('on');
        });


        fn_tblClick();

        setInterval(function() {
            fn_tblClickInterval();
        }, 10000);

        $("#popup .float").on("click", function(event) {
            setCookie("mainPopup", "Y", 1);
            $("#popup").fadeOut(400);
        });
    });

    function fn_tblClick() {
        $("#tableList tbody tr:first").click();
    }

    function fn_tblClickInterval() { 
        console.log(cnt)
        cnt += 1; // 카운트 늘어나고
        if (cnt == 5) { // 끝나면 초기화
            cnt = 0;
        }
        $("#tableList tbody tr:eq(" + cnt + ")").click(); // 클릭 시 이벤트 전달해서 데이터 바인딩
    }

    // function setCookie(name, value, exDay) {
    //     var todayDate = new Date();
    //     todayDate.setDate(todayDate.getDate() + exDay);
    //     document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
    // }

    // function closeToday() {
    //     $("#popup").fadeOut(400);
    //     $(".bgPopup").fadeOut(400);
    //     setCookie("popup", "done", 1);
    // }
</script>

</html>