.chart-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chart__wrapper {
  width: calc(50% - 20px);
}

.mo__tab__table {display: none; margin-bottom: 5rem;}

.tab__content .mo__tab__table table {font-size: 1.5rem;}

.tab__content .mo__tab__table table tr {display: flex; flex-wrap: wrap;}

.tab__content .mo__tab__table table tbody th {
  font-size: 1.6rem;
  text-align: left;
  border: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.tab__content .mo__tab__table table tbody td {
  font-size: 1.6rem;
  width: 100%;

}

.mo__4__input, .mo__4__select {
  height: 4rem;
  line-height: 4rem;
  border: 1px solid #CDCCCD;
  width: calc(50% - 1rem);
}

.mo__4__group__wrap {margin-bottom: 2rem;}
.mo__4__group {
  height: 4rem;
  line-height: 4rem;
  border: 1px solid #CDCCCD;
}



.echart {
  padding-top: 3.2rem;
  width: 100%;
  height: 400px;
  position: relative;
}

.chart__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding-bottom: 12px;

  h2 {
    font-weight: 500;
    font-size: 2.5rem;
  }
  span {
    font-size: 1.7rem;
  }
}

.tab__4__table {margin-bottom: 2rem;

  .input--flex {
    input, select {
      width: calc(50% - 1rem);
    }
  }
}

.tab__4__chart__wrapper {
  width: calc(25% - 2rem);
}



@media all and (min-width: 480px) and (max-width: 766px) {
  .echart {
    width: 100%;
  }

  .chart__wrapper {
    width: 100%;
  }

  .chart-block {
    display: block;
  }

  .tab__4__chart__wrapper {
    width: 100%;
  }

  .tab__4 .chart {
    width: 100%;
  }

  .tab__4__table {display: none;}

  .mo__tab__table {display: block;}
}


@media all and (max-width: 479px) {
  .echart {
    width: 100%;
  }

  .chart__wrapper {
    width: 100%;
  }

  .chart-block {
    display: block;
  }

  .tab__4__chart__wrapper {
    width: 100%;
  }

}

@media all and (min-width: 768px) and (max-width: 1079px) {
  .tab__4__chart__wrapper {
    width: calc(50% - 2rem);
  }

  .tab__4 .echart {
    width: 100%;
  }

  .first__col , .third__col {
    width: 12.38%;
  }
}


@media all and (min-width: 1080px) and (max-width: 1440px) {
  .tab__4__chart__wrapper {
    width: calc(50% - 2rem);
  }

  .tab__4 .echart {
    width: 100%;
  }
}


