.header {
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 0.15rem solid #ededed;
    transition: all 0.5s;

    .header__btm .logo {
        width: 360px;

        img {max-width: 100%;}
    }
}

.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(0);
}

.top__banner {
    height: 3.2rem;
    background-color: #EDF1F5;

    .banner__wrap {
        flex-wrap: nowrap;
        line-height: 3.2rem;

        .korea {
            margin-right: 0.8rem;
            display: inline-block;
            width: 2.8rem;
            height: 2rem;
            background: url(../img/태극기_medium.png) no-repeat center;
            position: relative;
            top: 0.4rem;
        }
    }
}

.banner__text {
    display: inline-block;
    font-size: 1.6rem;
}

.banner__text a {
    color: $second-color;
    font-weight: 500;
    margin-left: 1.6rem;
    margin-right: 0.4rem;
    display: inline-flex;
    align-items: center;

    &::after {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        background: url(../img/icon__arrow__down.svg) no-repeat center;
    }
}

.header__top {
    display: flex;
    height: 4rem;
    justify-content: end;
    align-items: center;

    a:not(:last-child) {
        border-right: 0.2rem solid #D8D8D8;
    }

    a {
        display: inline-flex;
        align-items: center;
        margin-right: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1.6rem;

        &::after {
            content: '';
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: url(../img/icon__arrow__down.svg) no-repeat center;
            margin-left: 0.4rem;
        }
    }
}

// 하단 헤더 영역
.header__btm {
    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 1.6rem;

    .right__icon__set {
        display: flex;
        align-items: center;
        margin-left: auto;

        a {
            img {
                margin-right: 0.8rem;
            }

            font-weight: bold;
            font-size: 1.7rem;
            padding: 1rem 1.2rem;
            display: inline-flex;
            align-items: center;

            span {
                white-space: nowrap;
            }
        }

        .talk__count {
            display: inline-block;
            width: 2.6rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            background-color: $main-color;
            color: #fff;
            border-radius: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 0.8rem;
        }
    }
}

.base__gnb {
    height: 6.4rem;

    a {
        line-height: 6.4rem;
        margin-right: 1.6rem;
        font-weight: bold;
        font-size: 1.9rem;
        color: #555555;
        display: inline-flex;
        align-items: center;

        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/icon__arrow__20.png) no-repeat center;
            margin-left: 0.8rem;
        }
    }
}

.border {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: 0.1rem solid #D8D8D8;
}