// visual__bg 


.manage__wrap {
    .visual__bg {
        width: 100%;
        height: 25rem;
        background: url(../img/manage__bg.png) no-repeat center;
        background-size: cover;
        position: relative;
    
        .visual__text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
    
          h2 {
            font-size: 3.2rem;
            margin-bottom: 2.8rem;
            white-space: nowrap;
          } 
          p {
            font-size: 1.5rem;
          }
        }
      }
    
}



.function__group {
    display: flex;
    justify-content: end;

    button {
        background-color: #246BEB;
        color: #fff;
        border: 0;
        font-size: 2rem;
        height: 5.6rem;
        padding: 0 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        border-radius: 0.7rem;
        font-weight: 600;
        cursor: pointer;

    }

    button:not(:last-child) {
        margin-right: 1rem;
    }
}

// lnb

.lnb__title {
    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.6rem;
        font-weight: 500;
    }
}

.flex__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 1.6rem;
    }
}


.lnb {
    .menu__depth-1 {
        border-bottom: 0.1rem solid #ddd;
        font-size: 1.7rem;

        ol {
            background-color: #FAFAFB;
        }

        > a {
            display: block;
            // line-height: 4rem;
            padding: 2.5rem 1rem;
            font-weight: 600;
            font-size: 1.8rem;
        }


        li:first-child {
            padding-top: 1rem;            
            border-top: 0.3rem solid #16408D;
        }

        li:last-child {
            padding-bottom: 1rem;
        }
    }

    .menu__depth-2 {
        font-size: 1.5rem;

        > a {
            line-height: 4.8rem;
            display: block;
            padding : 0 1.5rem;
            color: #767676;
        }

      
    }
    .active > a {
        color: #000;

        span {
            text-decoration: underline;
            text-underline-position : under;
        }
    }
}




/* depth-1 항목에 active 클래스 추가 시 스타일 변경 */
.menu__depth-1.active ol {
    display: block;
}

.menu__depth-1.active {
    .arrow__top {
        display: block;
    }

    .arrow__bottom {
        display: none;
    }
}

.menu__depth-1 {


    > a {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 1.8rem;
            transform: translateY(-50%);
            background: url(../img/arrow__top-blue.png) no-repeat center;
            background-size: cover;
            width: 2rem;
            height: 2rem;
            rotate: 0deg;
        }
    }
}

.menu__depth-1.active a::after {
    background: url(../img/arrow__bottom-blue.png) no-repeat center;
}





.main__content {

    .sub {
        position: relative;
    }
    

    .lnb__wrap {
        width: 28rem;
        margin-right: auto;
    }

    
    .content--flex {
    display: flex;
    }

    .main {
        width: calc(100% - (28rem + 3.6rem));
        margin-left: auto;

        .content {

            .main__table {
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }
}

.--flex {display: flex; align-items: center; height: 100%;

  input:last-of-type {
    margin-left: 2rem;
  }
 
}

.table__horizontal .main__table input[type="radio"] {
    /* 여기에 원하는 스타일을 추가합니다 */
    width: auto;
    height: auto;
}

.content .table__horizontal {border-top: 0.1rem solid #ddd;}

// col group
.main__table .main__th {width: 15.38%;}
.main__table .sub__th {width: 34.62%;}


// 메뉴 상세정보 colgroup 

.main__table .menu__th {width: 18.9%; min-width: 12rem;}
.main__table .menu__td {width: 30.6%;}



.system__margin .main .content .table__horizontal .main__table tbody th {
    padding: 0 3rem;
}



// 회계공시 조회


.search__accounting .main__th {width: 16rem;}
.search__accounting .search__td {width: 28rem;}
.search__accounting .radio__th {width: 13rem;}

.search__accounting .main__table .radio__wrap .flex label:nth-of-type(2) {
    margin-right: 2rem;
}





 
.table__horizontal .main__table td input {width: 100%;}

// 상위메뉴 검색
.table__horizontal .main__table .menu__find {
    display: flex;
    border-bottom: 0;

    input:nth-child(1){
        width: 18.35rem;
    }
    input:nth-child(2){
        padding: 0.8rem 2.6rem;
        background-color: #fff;
        color: #000;
        border: 0.1rem solid #ccc;
        font-weight: 400;
        margin-left: 1rem;
    }
}

// 비고 

.content .table__horizontal .main__table tbody tr .note__th {
    position: relative;

    label{
        position: absolute;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
    }
}


.content .table__note {
    height: 12rem;



    .main__table textarea {
        margin-top: 0.8rem;
        height: calc(100% - 1.6rem);
        width: 100%;
        border: 0.1rem solid #ddd;
    }
}


.main__table {font-size: 1.5rem;}

.width__100 {
    width: 100%;
}

.search__work {
    margin-bottom: 5.6rem;

    select {
        display: inline-block;
        width: 100%;
        height: 100%;
        height: 4rem;
        padding: 0.8rem 1rem 0.8rem 1.6rem;
        -webkit-appearance: none;  /* 크롬 화살표 없애기 */
        -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
        appearance: none;  /* 화살표 없애기 */
        position: relative;
        font-size: 1.6rem;
        border: 0.1rem solid #ccc;
    }

    .select__renew {
        background: url(../img/select__renew.png) no-repeat 93% 50%;
        background-color: #fff;
    }

    .search__work__group input {
        padding: 0.8rem 1rem;
        font-size: 1.6rem;
    }
}

.select--no--style {
    display: inline-block;
    width: 100%;
    height: 100%;
    height: 4rem;
    padding: 0.8rem 1rem 0.8rem 1.6rem;
    -webkit-appearance: none;  /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none;  /* 화살표 없애기 */
    position: relative;
    font-size: 1.6rem;
}

.select__renew {
    background: url(../img/select__renew.png) no-repeat 93% 50%;
}



.wrap .table__horizontal .main__table .radio__wrap {
    position: relative;


    .flex {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;

        label:nth-of-type(1){
            margin-right: 2rem;
        }
    }

    input[type="radio"]{
        appearance: none;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: 0;
        margin-right: 0.7rem;
    }
}

[type="radio"]:checked {border: 0.6rem solid #000;}



.border-btm {border-bottom: 0.1rem solid #ddd;}



.table__horizontal .main__table tbody th {line-height: 5.8rem;}

.menu__url .main__table .sub__th {width: auto;}


// 메뉴 계층

.tree{font-size:1.5rem;color:#000; width: 29rem;}
.tree_tit {font-size: 2rem;}

.tree_tit span {padding: 0 1rem;}

.tree ul,.tree li,.tree span{margin:0;padding:0}

.tree li{list-style:none}

a {color: #000;}

.tree li a:hover{color :#0c3975;}

.tree .tree_label{margin-left:0.3rem;vertical-align:top;text-decoration:none; display: inline-block;} 

.tree .tree_label a{display:inline-block; margin:-0.1rem 0 0 0.1rem;padding-left:1rem;font-size:1.5rem;color:#aaa;letter-spacing:-0.1rem;vertical-align:top;}
.tree .tree_label span{padding: 0 1rem;}

.tree ul{background:url(../img/bg_tree_stream.svg) repeat-y 0.9rem 0; padding-top: 2rem;}

.tree li{padding-left:2.8rem;background:url(../img/bg_tree_branch.svg) no-repeat 0.9rem -1.25rem;}

.tree li.tree_last_node{margin-bottom:0.4rem;background:url(../img/bg_tree_branch_last.svg) no-repeat 0.9rem -1rem;}

.depth__1__tree a {font-size: 1.6rem; line-height: 4rem; font-weight: 600;}
.depth__2__tree a {font-size: 1.5rem; line-height: 3.6rem; font-weight: 500;}



// 조회결과

.check__result {
        .table__vertical {
            border-top: 0.2rem solid #000;
        }

        table {width: 100%; font-size: 1.5rem;

            colgroup {
                col {
                    &:nth-child(1) {
                        width: 6.6%;
                    }
                    &:not(:nth-child(1)) {
                        width: calc((100% - 6.6%) / 8);
                        
                    }
                }

                
            }
            
            .name {
                text-align: left;
                padding-left: 0.8rem;
                border-left: 0.1rem solid #ddd;
            }

            .ex {
                text-align: center;
            }
        }
}


.check__result .table__vertical table thead tr th:nth-child(1) {border-left: 0;}
.check__result .table__vertical table thead tr th:nth-last-child(1) {border-right: 0;}

.check__result .table__vertical table tbody tr th:nth-child(1){
    border-bottom: 0.1rem solid #ddd;
    border-left: 0;
    background-color: #fff;
    border-left: 0;
}

.check__result .table__vertical table tbody td:nth-last-child(1) {
    border-right: 0;
}



.check__result .pagination { 
    margin-top: 2rem;
    margin-bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .page-navi {line-height: 4rem; font-size: 1.6rem;}
    .page-navi.prev {display: inline-flex; align-items: center; margin-right: 2rem;
        &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/more__arrow__left__black\ 1.png) no-repeat center;
        }
    }
    .page-navi.next {
        display: inline-flex;
        align-items: center;
         margin-left: 2rem;
        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/more__arrow__right__black.png) no-repeat center;
        }
    }

    .page-link {
        display: inline-block;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        font-size: 1.6rem;
        border-radius: 0.7rem;
    }
    
    .active {
        background-color: #0c3975;
        color: #fff;
        font-weight: 600;
    }
}


.note__th {border-bottom: 0.1rem solid #ddd;}

.no__border__note .note__th {border-bottom: 0;}
.system__infomation .table__horizontal td {border-bottom: 0;}
.content .system__infomation .table__horizontal .main__table tbody tr .note__th label {left: 3rem;}

.system__infomation .table__horizontal .radio__wrap input[type="radio"]{
        appearance: none;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin-right: 0.7rem;
}

.system__infomation .table__note {border-bottom: 0.1rem solid #ddd;}

.system__margin { margin-bottom: 15rem;}












// 권한별 메뉴관리


.auth__wrap {
    display: flex;



    .auth__control { width: calc(100% - 29rem);}





    .radio__wrap {
        position: absolute;
        // padding-top: 7rem;
    
        .flex {
            display: flex;
            align-items: center;
            height: 4rem;
    
            label:nth-of-type(1){
                margin-right: 2rem;
            }

            label {font-size: 1.5rem;}
        }

    
        input[type="radio"]{
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            margin-right: 0.7rem;
            appearance: none;

        }
        input[type="radio"]:not(:checked) {
            border: 0.1rem solid #ddd;
        }

    }
}







// 회계공시 조합 관리 

.check__year__result {

    
    .pagination {
    margin-bottom: 6rem;
    }


    .table__vertical {
        table td {padding-right: 0;}

        colgroup {
            col {
                &:nth-child(1),  &:nth-child(2) {
                    width: 6.6%;
                }


             &:not(:nth-child(1)):not(:nth-child(2)) {
                width: calc((100% - 13.2%) / 9); /* 6.6% * 2 = 13.2% */
            }
            }

            
        }
    }

    .division {
        text-align: center;
        border-left: 0.1rem solid #ddd;
    }


}

.year__data__wrap {width: 100%;  
    display: flex;
    justify-content: center;
    align-items: start;
    height: 40rem; overflow: hidden;
    border: 0.1rem solid #ddd;
    
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.close__btn__wrap {
    text-align: center;
    padding-top: 1.2rem;
    .close__btn {
        cursor: pointer;
        border: 0;
        background-color: #246BEB;
        height: 5.6rem;
        line-height: 4.8rem;
        padding: 0.4rem 2rem;
        color: #fff;
        font-weight: 500;
        border-radius: 0.7rem;
        font-size: 2rem;
    }
}

.data__modal .data__group__title {
    margin-top: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: 700;
    }
}
      


.data__modal__wrap {
    position: relative;

    

    .data__modal {
        display: none;
        width: calc(100% - 2rem); height: 72rem;  overflow-y: auto;background-color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
        border: 0.3rem solid #CBCCCD;

        .modal__inner {
            width: calc(100% - 7.2rem);
            margin: 0rem auto;
        }





        .modal__close {text-align: center; padding-top: 1.2rem;
            
            button{
                border: 0;
                background-color: #246BEB;
                height: 5.6rem;
                line-height: 4.8rem;
                padding: 0.4rem 2rem;
                color: #fff;
                font-weight: 500;
                border-radius: 0.7rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }


    .manage__report__modal {
        height: 83.6rem;
    }
}


.data__modal .modal__table {
    padding-top: 5.8rem;
}

.modal__result {
    border-top: 0.2rem solid #000;

    table {width: 100%; font-size: 1.5rem;
        
        thead tr th:nth-child(1), thead tr th:nth-last-child(1) {
            border-right: 0;
        }

        tbody tr td {text-align: center; padding-right: 0;
            &:nth-last-child(1){
                border-right: 0;
            }
        }

        .count {background-color: #DCE7FC;}
    }



}


.search__report {

    .border-btm {
        width: 16rem;
    }

    .search__report__bg {
        background-color: #FAFAFB;
    }

}


.report__content .content {
    width: 100%;
}



.check__result .report__col {
    col {
        &:nth-child(1) {
            width: 3.5%;
        }
        &:nth-child(2) {
            width: 7.5%;
        }
        &:nth-child(3) {
            width: 4.7%;
        }

        @for $i from 4 through 10 {
            &:nth-child(#{$i}) {
              width: 6.6%;
            }
          }

          @for $j from 11 through 15 {
            &:nth-child(#{$j}) {
              width: 7.5%;
            }
          }
     
    }
}

/** 리포트 조회 리스트 */

.report__check__table {
    .result__th {
        width: 12.5%;
    }

    .input__th {
        width: 40.6%;
    }
} 

.table__horizontal .main__table .report__th {padding-left: 3rem;}
// .table__horizontal .main__table td {border-bottom: 0;}

.table__horizontal .main__table .border--no {border-bottom: none;}

.select__wrap  {
    border-top: 0.1rem solid #ddd;
}

.last__select {border-bottom: 0.1rem solid #ddd;}





.modal__result .report__check__table tbody tr td {
    padding: 0 1rem;
}



.wrap .report__content .table__horizontal .main__table .radio__wrap .flex label {
    margin-right: 2rem;
}


.modal__result .radio__table tr td {
    text-align: left;
}

.modal__result tr {line-height: 5.8rem;}




