.public__register {


    .tab__wrap .tab__btn {width: 50%;}
    .tab__wrap .tab__btn.active {
        color: #003675;
        border-bottom: 0.4rem solid #003675;
    }
} 

.public__table__wrap {border-top: 2px solid #000;}

.public__table {
    tr {line-height: 5.8rem; width: 100%;}
    
    th {width: 12.5%; line-height: 5.8rem; border-bottom: 1px solid #ddd;}
    td {
        width: calc(100% - 12.5%); 
        line-height: 100%;
    }
    td select {height: 4rem; border: 1px solid #ddd;}
    td input[type="text"]{border: 1px solid #ddd; line-height: 4rem; width: 100%; padding: 0 8px;}
    td input[type="submit"]{border: 1px solid #ddd; line-height: 4rem;}


    .col2__th {
        flex-direction: column; align-items: flex-start;
        align-items: flex-start;
        justify-content: center;


        span {line-height: 150%; text-align: left;}
    }

    .td--width--harf {
        width: 50%;
        border: 1px solid red;
        // display: flex;
        // justify-content: space-between; 
    }

    
    .harf__td { 
        width: calc((100% - 25%) / 2);
    }

    .td--flex {padding :0 1rem;}

}


.public__table .with__long__select .select__renew {
    background: url(../img/select__renew.png) no-repeat 98% 50%;
}

.select__wrap__3 {
    select:nth-of-type(1){
       width: calc(20% - 0.4rem);
    }

    select:not(:first-of-type){
        width: calc(40% - 0.4rem);
    }

}

.p-td__calender {
    position: relative;

    .calender__icon {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: url(../img/calendar-days-regular.svg) no-repeat center;
        top: 50%;
        transform: translateY(-50%);
        right: 1.2rem;
    }
}

.p-td__date {width: calc(100% - 3.6rem);}

.p-select--no--style {
    appearance: none;
    width: calc(25% - 0.8rem);
    padding: 0 0.8rem;
}

.public__table {
    .flex {
        display: flex;
        align-items: center;

        label:nth-of-type(1){
            margin-right: 2rem;
        }
    }


    input[type="radio"]{
        appearance: none;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: 0;
        margin-right: 0.7rem;
        border: 1px solid #ccc;
    }

    input[type="radio"]:checked {
        border: 0.6rem solid #000;
    }
}