.sign__up__inner {padding-top: 7rem;}

.must__help__message span, .must__help__message p{ font-size: 1.5rem;}



.td--flex {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    flex-wrap: nowrap;

    .td--width {
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }
}



.sign__up__table__wrap {border-top: 2px solid #000;}

.sign__up__table {
    tr {line-height: 5.8rem; width: 100%;}
    
    th {width: 12.5%; line-height: 5.8rem; border-bottom: 1px solid #ddd;}
    td {width: calc(100% - 12.5%); line-height: 100%;}

    td input[type="text"]{border: 1px solid #ddd; line-height: 4rem; width: 100%; padding: 0 8px;}
    td input[type="submit"]{border: 1px solid #ddd; line-height: 4rem;}
    td input[type="file"]{background: 0;}
    td select {height: 4rem; border: 1px solid #ddd;}

    .with__submit input[type="text"]  {width: calc(90%); }
    .with__submit input[type="submit"] {width: calc(10% - 1rem); background-color: #004A98; color: #fff;}

    .col2__th {      flex-direction: column; align-items: flex-start;
        align-items: flex-start;
        justify-content: center;
        min-height: 5.8rem;

        span {line-height: 150%; text-align: left;}
    }
}

.must__type {
    position: relative;
    text-align: left;


        &::after {
            content: ' *';
            color: #FE5555;
            position: absolute;
            top: -0.2rem;
            right: -1rem;
            font-weight: bold;
        }
}

.sign__up__table .with__select__triple {
    select {width:  calc(33.33% - 0.4rem);}
}

.sign__up__table .with__select__double .select__renew, .sign__up__table .with__select__triple .select__renew {
    background: url(../img/select__renew.png) no-repeat 98% 50%;
}


.sign__up__table .with__select__double {
    select {width: calc(50% - 0.4rem)}
}


.td__calender {
    position: relative;
    width: 33.33%;

    .calender__icon {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: url(../img/calendar-days-regular.svg) no-repeat center;
        top: 50%;
        transform: translateY(-50%);
        right: 1.2rem;
    }
}

.td__date { width: 38%;} ;

.s-select--no--style {
    appearance: none;
    width: 22%;
    padding: 0 8px;
}

.sign__up__table .radio__wrap {
    .flex {
        display: flex;
        align-items: center;

        label:nth-of-type(1){
            margin-right: 2rem;
        }
    }


    input[type="radio"]{
        appearance: none;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin-right: 0.7rem;
        border: 1px solid #ccc;
    }

    input[type="radio"]:checked {
        border: 0.6rem solid #000;
    }
}

.file-upload-wrapper {
    display: flex;
    align-items: center;
}

.custom-file-label {
    background-color: #004A98; /* 원하는 배경 색상 */
    color: white; /* 원하는 텍스트 색상 */
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}
