.swiper__container {
    // 스와이퍼 컨테이너의 %가 inner 안의 들어가 있지 않아서 직접 분기별로 width를 지정해주어야한다.
    width: 109.6rem;
    padding-left: 9.2rem;
    padding-right: 9.2rem;
}

.banner__swiper {
    position: relative;
    margin-bottom: 6rem;

    .swiper__wrapper {
        display: flex; /* flexbox 레이아웃을 사용 */
        justify-content: center; /* 슬라이드를 중앙에 배치 */
        margin: 0 auto;
    }
    
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16rem;
        position: relative;

        .item__desc {
            font-size: 2.4rem;
            margin-left: 2.4rem;
            font-weight: 700;
            color: #fff;
            text-align: left;
            line-height: 150%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2.4rem;
        }
    }
}

// 배너 이미지 재 작업 
.banner__box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;

    .banner__text {
        position: absolute;
        left: 2.4rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;

        p {
            color: #fff;
            font-size: 2.4rem;
            line-height: 150%;
            font-weight: 700;
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 98;
    }
}

.worker {background-color: #06A8E7;}
.work__condition {background-color: #0184FE;}
.work__portal {background-color: #3A43BA;}


.banner__btn {
    position: absolute; // banner 부모 대상
    width: 128rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;



    .swiper-button-next {
        background: url(../img/swiper__next__btn.png) no-repeat center;  
        background-size: contain; 
        right: 1.2rem; 
    }
    .swiper-button-prev {
        background: url(../img/swiper__prev__btn.png) no-repeat center;  
        background-size: contain; 
        left: 1.2rem;
    }

    .swiper-button-prev, .swiper-button-next {
        width: 6.4rem;
        height: 6.4rem;

        &::after {
            display: none;
        }
    }
}

.main__swiper {
    height: 85.4rem;

    .section__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.8rem;
    }

    .section__title {
        font-weight: 700;
        font-size: 4rem;
        line-height: 150%;

        .strong {
            color: #246BEB;
        }
    }

    .form__select {
        font-family: inherit;
        width: 15rem;
        border: 0;
        border-bottom: 0.1rem solid #dbdbdb;
        padding: 1.6rem;
        font-size: 1.9rem;
        -webkit-appearance: none; /* 크롬 화살표 없애기 */
        -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
        appearance: none; /* 화살표 없애기 */
        background: url(../img/icon__arrow__20.png) no-repeat;
        background-position: right 1.6rem center;
    }
}


.main__swiper .bg {
    right: -27.2rem;
    position: absolute;
    height: 60rem;
    bottom: 0;
    z-index: 1;
    width: 192rem;
    background-color: $second-color;
    border-radius: 6rem 0 0 6rem ;
    box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, 0.15);
}

.main__swiper {
    position: relative;

    .pagination__bg {
        width: 6.7rem;
        height: 4rem;
        border-radius: 4rem;
        position: relative;
        background-color: #fff;
        text-align: center;

        .swiper-pagination {
            display: flex;
            justify-content: center;
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }


    .main__btn__group {
        display: flex;
        align-items: center;
        width: calc(40rem);
        padding: 0 6rem;
        position: relative;
        bottom: -4.2rem;
        box-sizing: border-box;

        .swiper__pause {
            height: 4rem;
            margin-left: 0.8rem;
        }

        .arrow__flex {display: flex; margin-left: 0.8rem;}


        .swiper-button-next, .swiper-button-prev {
            margin-top: 0;
            width: 4rem;
            height: 4rem;
            position: static;
            &::after {
                display: none;

            }
        }

        .more__main {
          margin-left: 0.8rem;
          width: 4rem;
          height: 4rem;
         background: url(../img/more__main.png) no-repeat center;
        }

        .swiper-button-prev {
            background: url(../img/swiper__main__prev.png) no-repeat center; background-size: contain;}
        .swiper-button-next {
            margin-left: 0.8rem;
            background: url(../img/swiper__main__next.png) no-repeat center; background-size: contain;}


        .swiper-pagination-fraction {font-weight: 700; bottom: 0; font-size: 1.7rem;}
        .swiper-pagination-current {margin-right: 0.4rem; color: #246BEB;}
        .swiper-pagination-total {margin-left: 0.4rem;}
    }


    .swiper {
        overflow: visible;
        z-index: 2;
    }

    .swiper-slide {
        margin-right: 4rem;
        transition: all 0.3s ease;
        width: auto;
        position: relative;
        max-width: 40rem;

        .item {
            width: 40rem;
            height: 60rem;
            background-color: #fff;
            border-radius: 1.2rem;
            overflow: hidden;
            box-shadow: 0.4rem 0.4rem 4rem rgba(0, 0, 0, 0.2);

            .item__wrap {
                padding: 5.5rem 3.2rem 0 3.2rem;

                .index {font-size: 2.4rem; font-weight: 700;}
                .title { margin-bottom: 1.6rem; font-size: 2.5rem; font-weight: 700;};

                .group {
                    display: inline-flex;
                    align-items: center;
                    background-color: #D3E1FB;
                    color: #246BEB;
                    margin-bottom: 3.2rem;
                    font-size: 1.5rem;
                    height: 2.4rem;
                    padding: 0.6rem 0.8rem;
                    border-radius: 0.2rem;
                    box-sizing: border-box;
                }


                .btn__group {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    margin-bottom: 3.2rem;

                    button {
                        width: 18rem;
                        height: 4.8rem;
                        line-height: 4.8rem;
                        font-size: 1.7rem;
                        border-radius: 3rem;
                        border: 0;
                        cursor: pointer;
                    }

                    .asset {
                        position: relative;
                        left: 2rem;
                    }

                    .income {
                        position: relative;
                        right: 2rem;
                        top: 0;

                        .text {
                            padding-left: 1.2rem;
                        }
                    }
                }

                .stick__flex {
                    display: flex;
                    justify-content: center;
                    .stick__graph-1, .stick__graph-2 {
                        margin: 0 4rem;
                        width: 8rem;
                        height: 21rem;
                    }    

                    .stick__graph-1 {
                        background: linear-gradient(to top, #767676 0 72%, #DEDEDE 32% 100%);
                    }
                    .stick__graph-2 {
                        background: linear-gradient(to top, #767676 0 26%, #DEDEDE 22% 100%);
                    }
                }
          
                .circle__graph {
                    margin: 0rem auto;
                    width: 21rem;
                    height: 21rem;
                    border-radius: 50%;
                    background: conic-gradient(
                      #003675 0% 70%, /* 첫 번째 색상 */
                      #fff 70% 100% /* 두 번째 색상 */
                    );
                    position: relative;

                    &::before {
                        content: '';
                        width: 8rem;
                        height: 8rem;
                        background-color: #fff; /* 배경색과 같은 색으로 설정 */
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;

                        p:nth-child(1){
                            font-size: 1.5rem;
                        }

                        .detail {
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                    }

                }


                .total {
                    display: flex;
                    justify-content: space-between;
                    height: 8rem;

                   

                    .total__wrap {
                        width: 50%;
                        text-align: center;
                        padding: 1.6rem 0;
                    }
                    
                    .money {
                        font-size: 1.7rem;
                        font-weight: 700;
                    }

                    .detail {
                        font-size: 1.7rem;
                        font-weight: 600;

                        span {
                            font-weight: 400;
                            font-size: 1.3rem;
                            color: #767676;
                        }
                    }

                    .bg {
                        background-color: #fff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}


// 클래스 별 각각 다른 스타일 지정해주기 
.swiper-slide-active .active--style {background-color: #003675; color: #fff;}
.swiper-slide:not(.swiper-slide-active) .active--style {background-color: #444444; color: #fff;}

// 스와이퍼 active시 적용
.active--style {
    background-color: $second-color;
    color: #fff;
    z-index: 4;
}

.main__swiper .swiper-slide-active .item {
    background-color: $main-color;
    margin-top: 0;

    .item__wrap .circle__graph .text p {color: #fff;}
    .item__wrap .circle__graph .text .detial {font-weight: 700;}
    
    // 그래프
    .item__wrap {
        .graph {padding-bottom: 3.2rem;}
        .group {background-color: #fff; font-weight: 700;}
        .index , .title {color: #fff;}
        .graph {
            .circle__graph {
                &::before {
                    background-color: $main-color;
                } 
            }
            .stick__graph-1 {background: linear-gradient(to top, $second-color 0 72%, #fff 32% 100%);}               
            .stick__graph-2 {background: linear-gradient(to top, $second-color 0 26%, #fff 22% 100%);}
        }
    }
  
 

    // 하단 자산 부채 영역

    .item__wrap .total {
        background-color: #fff;
        box-sizing: content-box;
        width: calc(100% + 6.4rem); /* 부모의 padding 값을 고려하여 너비를 설정 */
        margin-left: -3.2rem; /* 패딩 값을 무시하고 좌측으로 이동 */
        margin-right: -3.2rem; /* 패딩 값을 무시하고 우측으로 이동 */

        .total__wrap:nth-child(1){
            position: relative;

            &::after {
                content: ""; /* 내용이 없는 빈 요소 생성 */
                position: absolute;
                top: 50%; /* 요소의 상단에 맞춰 위치 */
                transform: translateY(-50%);
                right: 0; /* 요소의 오른쪽에 맞춰 위치 */
                width: 0.15rem; /* 선의 너비 */
                height: 3.8rem; /* 선의 높이 */
                background-color: lightgray; /* 선의 색상 */
            }
        }

        .total__wrap p:nth-child(1) {
            color: #003675;
        }

        .total__wrap p:nth-child(2){
            color: #1d1d1d;
        }
    }

 
}

.main__swiper .swiper-slide:not(.swiper-slide-active) .item {
    margin-top: 5rem;


    .item__wrap .graph {
        .circle__graph {
            background: conic-gradient(
                #767676 0% 70%, /* 첫 번째 색상 */
                #ededed 70% 100% /* 두 번째 색상 */
              );
        }
    }
}



