/* 
  색상 값 변수 관리
*/

$main-color: #246BEB;
$second-color: #003675;
$text-color: #1d1d1d;




$table-border-color-dd: #ddd;


$theme-btn-blue-00 : #246BEB;
$theme-btn-blue-01 : #1D56BC;

// $theme-btn-blue-01 : #003675;
$theme-btn-bk-00 : #000000;
$theme-btn-red-00 : #B9131E;

$theme-krds-skyblue-00 : #DEEBF7;
$theme-krds-skyblue-01 : #EDF1F5;
$theme-krds-navy-00 : #003675;


// 버튼 컬러 


