/*
    헤더 CSS
*/

.header {
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 0.15rem solid #ededed;
}
.header .header__btm .logo { width: 36rem; max-height: 3rem;}
.header img {max-width: 100%;}
    


.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(0);
}

.top__banner {
    height: 3.2rem;
    background-color: #EDF1F5;

    .banner__wrap {
        flex-wrap: nowrap;
        line-height: 3.2rem;

        .korea {
            margin-right: 0.8rem;
            display: inline-block;
            width: 2.8rem;
            height: 2rem;
            background: url(../img/태극기_medium.png) no-repeat center;
            position: relative;
            top: 0.4rem;
        }
    }
}

.banner__text {
    display: inline-block;
    font-size: 1.6rem;
}

.banner__text a {
    color: $second-color;
    font-weight: 500;
    margin-left: 1.6rem;
    margin-right: 0.4rem;
    display: inline-flex;
    align-items: center;

    &::after {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        background: url(../img/icon__arrow__down.svg) no-repeat center;
    }
}

.header__top {
    display: flex;
    height: 4rem;
    justify-content: end;
    align-items: center;

    a:not(:last-child) {
        border-right: 0.2rem solid #D8D8D8;
    }

    a {
        display: inline-flex;
        align-items: center;
        margin-right: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1.6rem;

        &::after {
            content: '';
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: url(../img/icon__arrow__down.svg) no-repeat center;
            margin-left: 0.4rem;
        }
    }
}

// 하단 헤더 영역
.header__btm {position: relative;align-items: center;display: flex; padding-bottom: 1.6rem;padding-top: 2rem;}
.right__icon__set {display: flex;align-items: center;margin-left: auto;
        a {
            img {
                margin-right: 0.8rem;
            }

            font-weight: bold;
            font-size: 1.7rem;
            padding: 1rem 1.2rem;
            display: inline-flex;
            align-items: center;

            span {
                white-space: nowrap;
            }
        }

        .talk__count {
            display: inline-block;
            width: 2.6rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            background-color: $main-color;
            color: #fff;
            border-radius: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 0.8rem;
        }
    }

.base__gnb {
    height: 6.4rem;

    a {
        line-height: 6.4rem;
        margin-right: 1.6rem;
        font-weight: bold;
        font-size: 1.9rem;
        color: #555555;
        display: inline-flex;
        align-items: center;

        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/icon__arrow__20.png) no-repeat center;
            margin-left: 0.8rem;
        }
    }
}

.border {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: 0.1rem solid #D8D8D8;
}




#gnb1 > ul {display: flex;}
#gnb1 > ul > li {flex: 0 0 auto; margin-right: 16px; padding: 0 1.6rem;}
#gnb1 > ul > li > a { line-height: 6.4rem; font-weight: bold; font-size: 1.9rem; color: #555555; display: inline-flex; align-items: center;}
#gnb1 > ul > li.plus > a::after { content: '';  background: url(../img/arrow__bottom-bk.svg) no-repeat center; display: inline-block;
    margin-left: .8rem;
    width: 2rem;
    height: 2rem;
    background-size: 2rem auto;
    transition: all .3s;
}

// 상단 depth1 버튼 클릭 시 애니메이션
// #gnb1 > ul > li.active {background: #21A366;}
#gnb1 > ul > li.active > a {color: #21A366;}
// #gnb1 > ul > li.plus.active > a::after {transform: rotate(360deg); background: url(../img/arrow__top-white.svg);}
#gnb1 > ul > li.plus.active > a::after {transform: rotate(360deg); background: url(../img/arrow__top-green.svg);}


.gnb__bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); display: none; z-index: 999;}
#gnb1 .sub__menu > ul:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 26rem;
    height: 100%;
    // background: #E4F2EC;
}
.header__gnb {position: relative;}
.header__gnb::after {content: ''; display: inline-block; width: 100vw; height: 0.1rem; background-color: #ddd; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
#gnb1 .sub__menu > ul > li {display: flex;}
#gnb1 .sub__menu > ul > li.active > a {background: #fff; color: #21A366; text-decoration: underline;}
/* #gnb1 {position: relative;} */
#gnb1 .sub__menu {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 128rem;
    height: auto;
    min-height: 20rem;
    opacity: 0;
    top: calc(100% - 1px);
    z-index: 10;
    max-width: 100%;
    text-align: left;
    /* border: 1px dashed blueviolet; */
}

#gnb1 .sub__menu::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;
    background-color: #fff;
}

#gnb1 .sub__menu > ul > li > a {
    width: 26rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2.4rem;
    transition: all 0.2s;
    font-weight: 700;
    color: #1d1d1d;
    font-size: 1.9rem;
    // background: #E4F2EC;
}

#gnb1 .sub__menu > ul > li .dep3 {
display: none;
position: absolute;
left: 0;
top: 0;
width: calc(100% - 26rem);
margin-left: 26rem;
padding: 2.4rem 4rem;
}

.dep3__title {
display: flex;
height: 5.6rem;
align-items: center;
margin-bottom: 2.4rem;
font-size: 2.5rem;
font-weight: 700;
}

.dep3__title a:after {
content: "";
display: inline-block;
position: relative;
top: -.2rem;
margin-left: .4rem;
width: 2.4rem;
height: 2.4rem;
background: url(../img/arrow__right-gray.svg) center no-repeat;
background-size: cover;
vertical-align: middle;
}



#gnb1 .sub__menu > ul > li.active > .dep3 {display: block;}

#gnb1 .sub__menu > ul {
display: flex;
position: relative;
flex-direction: column;
width: calc(100% + 2rem);
height: 100%;
min-height: 20rem;
flex-wrap: wrap;
width: 100%;
margin-right: -2rem;
padding: 1.6rem 0;
color: #1d1d1d;
}

#gnb1 > ul > li.active .sub__menu { visibility: visible; overflow: visible; opacity: 1;}



// 모바일 gnb2

#gnb2 {visibility: hidden; position: fixed; left: 0; top: 0; z-index: 1200; width: 100%; height: 100%; overflow: hidden; background: #fff; font-size: 1.7rem; }
#gnb2.active {visibility: visible; overflow-y: scroll;}

// 최상단 ul
#gnb2.active > ul { width: 100%; height: 100%; overflow: visible;}
#gnb2.active > ul > li {display: block;}
#gnb2 .gnb__head .login__info {padding-top: 6.8rem;}
#gnb2 .gnb__head {padding: 0 2.4rem 2rem 2.4rem;  min-height: 12.8rem;}
#gnb2 .gnb__body {border-top: 0.1rem solid #ddd; flex: 1; overflow-y: auto; scroll-behavior: smooth;}
#gnb2 .gnb__in {height: 100%; display: flex; flex-direction: column;}
#gnb2 .gnb__close {position: absolute; top: 2rem; right: 2.4rem; width: 2.4rem; height: 2.4rem; background: url(../img/gnb__close.svg) no-repeat center; background-size: cover;}
#gnb2 .logout img {margin-right: 0.8rem;}
#gnb2 .logout {font-weight: 700; position: absolute; bottom: 2rem; width: 100%; display: inline-flex; align-items: center; justify-content: center;}
.login__info .id__info {font-weight: 700; font-size: 1.7rem; display: inline-flex; align-items: center;}
.login__info .id__info img {margin-right: 0.8rem;}
.m-gnb__menu {display: flex; height: 100%;}
.m-gnb__menu .menu__wrap {width: 14rem; display: flex; position: relative;}
.m-gnb__menu .menu__wrap > ul {background-color: #EDF1F5;}
.m-gnb__menu .menu__wrap li > a {padding: 2.6rem 2.4rem; font-size: 1.7rem; display: inline-block; width: 100%; font-weight: 700;}
.m-gnb__menu .menu__wrap li > a.active {background-color: #fff; color: #003675; font-weight: 700;}
.gnb__body .submenu__wrap {width: calc(100% - 14rem); flex: 1; height: 100%; overflow-y: scroll; position: relative; scroll-behavior: smooth; transition: all 0.5s; }
.gnb__body .submenu__wrap li a {display: block;}
.gnb__body .submenu__wrap > ul {padding: 1.6rem 2.4rem; border-bottom: 0.1rem solid #ddd;}
// .gnb__body .submenu__wrap > ul:last-child {padding-bottom: 10rem;}
.gnb__body .submenu__wrap > ul .title {font-size: 1.7rem; font-weight: 700; padding-top: 2.6rem; padding-bottom: 2.6rem; border-bottom: 0.1rem solid #ddd; width: 100%;}
.gnb__body .submenu__wrap > ul li:not(.title) {padding-top: 1.8rem; padding-bottom: 1.8rem;}

/* 해당 서브메뉴가 보이도록 설정 */
