/*
    헤더 CSS
*/

.header {
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 0.15rem solid #ededed;
    transition: all 0.5s;

    .header__btm .logo {
        width: 360px;

        img {max-width: 100%;}
    }
}

.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(0);
}

.top__banner {
    height: 3.2rem;
    background-color: #EDF1F5;

    .banner__wrap {
        flex-wrap: nowrap;
        line-height: 3.2rem;

        .korea {
            margin-right: 0.8rem;
            display: inline-block;
            width: 2.8rem;
            height: 2rem;
            background: url(../img/태극기_medium.png) no-repeat center;
            position: relative;
            top: 0.4rem;
        }
    }
}

.banner__text {
    display: inline-block;
    font-size: 1.6rem;
}

.banner__text a {
    color: $second-color;
    font-weight: 500;
    margin-left: 1.6rem;
    margin-right: 0.4rem;
    display: inline-flex;
    align-items: center;

    &::after {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        background: url(../img/icon__arrow__down.svg) no-repeat center;
    }
}

.header__top {
    display: flex;
    height: 4rem;
    justify-content: end;
    align-items: center;

    a:not(:last-child) {
        border-right: 0.2rem solid #D8D8D8;
    }

    a {
        display: inline-flex;
        align-items: center;
        margin-right: 1.2rem;
        padding-right: 1.2rem;
        font-size: 1.6rem;

        &::after {
            content: '';
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: url(../img/icon__arrow__down.svg) no-repeat center;
            margin-left: 0.4rem;
        }
    }
}

// 하단 헤더 영역
.header__btm {
    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 1.6rem;
    padding-top: 2rem;

    .right__icon__set {
        display: flex;
        align-items: center;
        margin-left: auto;

        a {
            img {
                margin-right: 0.8rem;
            }

            font-weight: bold;
            font-size: 1.7rem;
            padding: 1rem 1.2rem;
            display: inline-flex;
            align-items: center;

            span {
                white-space: nowrap;
            }
        }

        .talk__count {
            display: inline-block;
            width: 2.6rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            background-color: $main-color;
            color: #fff;
            border-radius: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            margin-left: 0.8rem;
        }
    }
}

.base__gnb {
    height: 6.4rem;

    a {
        line-height: 6.4rem;
        margin-right: 1.6rem;
        font-weight: bold;
        font-size: 1.9rem;
        color: #555555;
        display: inline-flex;
        align-items: center;

        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/icon__arrow__20.png) no-repeat center;
            margin-left: 0.8rem;
        }
    }
}

.border {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: 0.1rem solid #D8D8D8;
}




#gnb1 > ul {display: flex;}
#gnb1 > ul > li {flex: 0 0 auto; margin-right: 16px; padding: 0 3.5rem;}
#gnb1 > ul > li.active {background: #CDD7E4;}



#gnb1 > ul > li > a { line-height: 6.4rem; font-weight: bold; font-size: 1.9rem; color: #555555; display: inline-flex; align-items: center;}

#gnb1 > ul > li.plus > a::after { content: '';  background: url(../img/arrow__bottom-bk.svg) no-repeat center; display: inline-block;
    margin-left: .8rem;
    width: 2rem;
    height: 2rem;
    background-size: 2rem auto;
    transition: all .3s;
}
#gnb1 > ul > li.plus.active > a::after {transform: rotate(180deg); background: url(../img/arrow__top-blue.svg);}
.gnb__bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); display: none; z-index: 999;}
#gnb1 .sub__menu > ul:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 26rem;
    height: 100%;
    background: #edf1f5;
}
.header__gnb {position: relative;}
.header__gnb::after {content: ''; display: inline-block; width: 100vw; height: 0.1rem; background-color: #ddd; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
#gnb1 .sub__menu > ul > li {display: flex;}
#gnb1 .sub__menu > ul > li.active > a {background: #fff; color: #003675;}


/* #gnb1 {position: relative;} */
#gnb1 .sub__menu {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 128rem;
    height: auto;
    min-height: 20rem;
    opacity: 0;
    top: calc(100% - 1px);
    z-index: 10;
    max-width: 100%;
    text-align: left;
    /* border: 1px dashed blueviolet; */
}

#gnb1 .sub__menu::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;
    background-color: #fff;
}

#gnb1 .sub__menu > ul > li > a {
    width: 26rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2.4rem;
    transition: all 0.2s;
    background: #edf1f5;
    font-weight: 700;
    color: #1d1d1d;
    font-size: 1.9rem;
}

#gnb1 .sub__menu > ul > li .dep3 {
display: none;
position: absolute;
left: 0;
top: 0;
width: calc(100% - 26rem);
margin-left: 26rem;
padding: 2.4rem 4rem;
}

.dep3__title {
display: flex;
height: 5.6rem;
align-items: center;
margin-bottom: 2.4rem;
font-size: 2.5rem;
font-weight: 700;
}

.dep3__title a:after {
content: "";
display: inline-block;
position: relative;
top: -.2rem;
margin-left: .4rem;
width: 2.4rem;
height: 2.4rem;
background: url(../img/arrow__right-gray.svg) center no-repeat;
background-size: cover;
vertical-align: middle;
}



#gnb1 .sub__menu > ul > li.active > .dep3 {display: block;}

#gnb1 .sub__menu > ul {
display: flex;
position: relative;
flex-direction: column;
width: calc(100% + 2rem);
height: 100%;
min-height: 20rem;
flex-wrap: wrap;
width: 100%;
margin-right: -2rem;
padding: 1.6rem 0;
color: #1d1d1d;
}

#gnb1 > ul > li.active .sub__menu { visibility: visible; overflow: visible; opacity: 1;}



// 모바일 gnb2

#gnb2 {display: none;}