/****************************************************
	파일명	: layout.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 레이아웃 관련 스타일
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-10-02
	수정내용	: 최초작성
	속성순서: 
*****************************************************/


/* 헤더 CSS */
.header { position: relative; width: 100%; z-index: 1000; background-color: #fff; border-bottom: 0.15rem solid #ededed;}
.header .header__btm .logo { width: 36rem; max-height: 3rem;}
.header img {max-width: 100%;}
.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform ease 0.4s 0.01s;
}
.banner__text {display: inline-block; font-size: 1.6rem;}
.banner__text a {
    color: #000;
    font-weight: 500;
    margin-left: 1.6rem;
    margin-right: 0.4rem;
    display: inline-flex;
    align-items: center;
}
.banner__text a::after{
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        background: url(../img/icon__arrow__down.svg) no-repeat center;
}


// 하단 헤더 영역
.header__btm {position: relative;align-items: center;display: flex; height: 8rem;}

// 상단 오른쪽 아이콘 셋
.right__icon__set {display: flex;align-items: center;margin-left: auto;}
.right__icon__set a {font-weight: 700; font-size: 1.7rem; padding: 1rem 1.2rem; display: inline-flex; align-items: center;} 
.right__icon__set a img {margin-right: 0.8rem;}
.right__icon__set span {white-space: nowrap;}
.right__icon__set .hamburger {display: none;}
.base__gnb {height: 6.4rem;}
.base__gnb a {
    line-height: 6.4rem;
    margin-right: 1.6rem;
    font-weight: bold;
    font-size: 1.9rem;
    color: #555555;
    display: inline-flex;
    align-items: center;
}
.base__gnb a::after {
    content: "";
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background: url(../img/icon__arrow__20.png) no-repeat center;
    margin-left: 0.8rem;
}

.border {width: 100vw; margin-left: calc(-50vw + 50%); border: 0.1rem solid #D8D8D8;}


#gnb1 > ul {display: flex;}
#gnb1 > ul > li {flex: 0 0 auto; margin-right: 16px; padding: 0 1.6rem;}
#gnb1 > ul > li > a { line-height: 6.4rem; font-weight: bold; font-size: 1.9rem; color: #555555; display: inline-flex; align-items: center;}
#gnb1 > ul > li.plus > a::after { content: '';  background: url(../img/arrow__bottom-bk.svg) no-repeat center; display: inline-block;
    margin-left: .8rem;
    width: 2rem;
    height: 2rem;
    background-size: 2rem auto;
    transition: all .3s;
}
// 상단 depth1 버튼 클릭 시 애니메이션
#gnb1 > ul > li.active > a {color: #21A366;}
#gnb1 > ul > li.plus.active > a::after {transform: rotate(360deg); background: url(../img/arrow__top-green.svg);}
.gnb__bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); display: none; z-index: 999;}
#gnb1 .sub__menu > ul:before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 26rem;
height: 100%;
}
.header__gnb {position: relative;}
.header__gnb::after {content: ''; display: inline-block; width: 100vw; height: 0.1rem; background-color: #ddd; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
#gnb1 .sub__menu > ul > li {display: flex;}
#gnb1 .sub__menu > ul > li.active > a {background: #fff; color: #21A366; text-decoration: underline;}
#gnb1 .sub__menu {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 128rem;
    height: auto;
    min-height: 20rem;
    opacity: 0;
    top: calc(100% - 1px);
    z-index: 10;
    max-width: 100%;
    text-align: left;
}

#gnb1 .sub__menu::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;
    background-color: #fff;
}

#gnb1 .sub__menu > ul > li > a {
    width: 26rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2.4rem;
    transition: all 0.2s;
    font-weight: 700;
    color: #1d1d1d;
    font-size: 1.9rem;
}

#gnb1 .sub__menu > ul > li .dep3 {
display: none;
position: absolute;
left: 0;
top: 0;
width: calc(100% - 26rem);
margin-left: 26rem;
padding: 2.4rem 4rem;
}

.dep3__title {
display: flex;
height: 5.6rem;
align-items: center;
margin-bottom: 2.4rem;
font-size: 2.5rem;
font-weight: 700;
}

.dep3__title a:after {
content: "";
display: inline-block;
position: relative;
top: -.2rem;
margin-left: .4rem;
width: 2.4rem;
height: 2.4rem;
background: url(../img/arrow__right-gray.svg) center no-repeat;
background-size: cover;
vertical-align: middle;
}

#gnb1 .sub__menu > ul > li.active > .dep3 {display: block;}
#gnb1 .sub__menu > ul {
display: flex;
position: relative;
flex-direction: column;
width: calc(100% + 2rem);
height: 100%;
min-height: 20rem;
flex-wrap: wrap;
width: 100%;
margin-right: -2rem;
padding: 1.6rem 0;
color: #1d1d1d;
}

#gnb1 > ul > li.active .sub__menu { visibility: visible; overflow: visible; opacity: 1;}

/* new userinfo */
.user__info {display: flex; align-items: center;}
.user__info .reset {background-color: #eee; color: #767676; border-radius: 8px; font-size: 1.3rem; font-weight: normal;}
.user__info .user__name {font-size: 1.7rem; font-weight: 700; margin-left: 12px; padding: 0 12px;}
.user__name {display: flex; align-items: center;}
.user__name img {margin-right: 8px;}

// 모바일 gnb2
#gnb2 {visibility: hidden; position: fixed; left: 0; top: 0; z-index: 1200; width: 100%; height: 100%; overflow: hidden; background: #fff; font-size: 1.7rem; }
#gnb2.active {visibility: visible; overflow-y: scroll;}

// 모바일 최상단 ul
#gnb2.active > ul { width: 100%; height: 100%; overflow: visible;}
#gnb2.active > ul > li {display: block;}
#gnb2 .gnb__head .login__info {padding-top: 6.8rem;}
#gnb2 .gnb__head {padding: 0 2.4rem 2rem 2.4rem;  min-height: 12.8rem;}
#gnb2 .gnb__body {border-top: 0.1rem solid #ddd; flex: 1; overflow-y: auto; scroll-behavior: smooth;}
#gnb2 .gnb__in {height: 100%; display: flex; flex-direction: column;}
#gnb2 .gnb__close {position: absolute; top: 2rem; right: 2.4rem; width: 2.4rem; height: 2.4rem; background: url(../img/gnb__close.svg) no-repeat center; background-size: cover;}
#gnb2 .logout img {margin-right: 0.8rem;}
#gnb2 .logout {font-weight: 700; position: absolute; bottom: 2rem; width: 100%; display: inline-flex; align-items: center; justify-content: center;}
.login__info .id__info {font-weight: 700; font-size: 1.7rem; display: inline-flex; align-items: center;}
.login__info .id__info img {margin-right: 0.8rem;}
.m-gnb__menu {display: flex; height: 100%;}
.m-gnb__menu .menu__wrap {width: 14rem; display: flex; position: relative;}
.m-gnb__menu .menu__wrap > ul {background-color: #EAF5F0;}
.m-gnb__menu .menu__wrap li > a {padding: 2.6rem 2.4rem; font-size: 1.7rem; display: inline-block; width: 100%; font-weight: 700;}
.m-gnb__menu .menu__wrap li > a.active {background-color: #fff; color: #21A366; font-weight: 700;}
.gnb__body .submenu__wrap {width: calc(100% - 14rem); flex: 1; height: 100%; position: relative;}
.gnb__body .submenu__wrap li a {display: block;}
.gnb__body .submenu__wrap > ul {padding: 1.6rem 2.4rem 1.6rem 2.4rem; border-bottom: 0.1rem solid #ddd;}
.gnb__body .submenu__wrap > ul .title {font-size: 1.7rem; font-weight: 700; padding-top: 2.6rem; padding-bottom: 2.6rem; border-bottom: 0.1rem solid #ddd; width: 100%;}
.gnb__body .submenu__wrap > ul li:not(.title) {padding-top: 1.8rem; padding-bottom: 1.8rem;}


/* 푸터 CSS */
footer .inner {height: 20rem;}
footer {position: relative;overflow: hidden;}
.footer__bottom .footer__logo {padding-top: 4rem;}
.footer__bottom .footer__flex {display: flex;align-items: flex-start;padding-top: 4rem;padding-bottom: 4rem;justify-content: space-between;}
.footer__info p {font-size: 1.7rem;}
.footer__info p:nth-child(1) {margin-bottom: 0.4rem;}
.footer__info p:nth-child(2) {margin-bottom: 0.4rem;}

// 공통 inner
.inner { max-width: 128rem; width: 128rem; margin: 0px auto;}
