/*
    관리자 CSS
*/


// 관리자 메뉴 공통 영역
.union__member { font-size: 1.9rem!important; color: #0c3975;}

// 체계 영역만 height 값 설정
.system-list {max-height: 120rem; overflow-y: auto;}


// 관리자 조회 모달 기본 스타일
.data__modal .data__group__title, .data__error__modal .data__group__title { margin-top: 4rem;
    h2 {font-size: 3rem; font-weight: 700;}
}

.data__modal__wrap {
    // position: relative;
    .data__modal, .data__error__modal {
        display: none;
        width: calc(100% - 2rem); 
        background-color: #fff;
        // position: absolute; 
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0.3rem solid #CBCCCD;
        z-index: 1003;
        .modal__inner {
            width: calc(100% - 7.2rem);
            margin: 0rem auto;
            position: relative;
        }
        .modal__close {text-align: center; padding-top: 1.2rem;
            button{
                border: 0;
                background-color: #246BEB;
                height: 5.6rem;
                line-height: 4.8rem;
                padding: 0.4rem 2rem;
                color: #fff;
                font-weight: 500;
                border-radius: 0.7rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }
    .data__error__modal .modal__close {padding-bottom: 4rem;}

    .data__error__modal {height: auto;}


    .manage__report__modal {
        height: auto;
        padding-bottom: 2rem;
    }
}

// 검색 조건 모달 스타일
.menu__find-modal .data__modal {height: auto;}
.menu__find-modal .table__vertical table tbody tr th:nth-child(1) { background-color: transparent;}
.menu__find-modal .modal__position {padding: 4.8rem 0;}
.menu__find-modal .table thead {position: relative;}
// .menu__find-modal .table {overflow-x: auto;}




.data__modal .modal__table , .data__error__modal .modal__table {padding-top: 5.8rem;}



.function__group .btn__control.bg--gray-00 { color: #000;}



// 페이지 두 개 구분될 시 가로 정렬 및 넓이 지정 manage__accounting, manage__labor, manage__menu만 해당
.sub {position: relative;}
.content--flex { display: flex;}
// .sub의 display 가 none이면, .main의 width를 100%로 지정

.main { width: calc(100% - (28rem + 3.6rem)); margin-left: auto;}
.main .width--100 {width: 100%;}


.--flex {display: flex; align-items: center; height: 100%;
  input:last-of-type {
    margin-left: 2rem;
  }
}

// 관리자 상단 비주얼 영역
.manage__wrap {
    .visual__bg {
        width: 100%;
        height: 25rem;
        background: url(../img/manage__bg.png) no-repeat center;
        background-size: cover;
        position: relative;
    
        .visual__text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
            

          // 관리자 비주얼의 제목
          h2 {
            font-size: 3.2rem;
            margin-bottom: 2.8rem;
            white-space: nowrap;
          } 
          // 관리자 비주얼의 내용
          p {
            font-size: 1.5rem;
          }
        }
      }
}

// 타이틀 영역 전체 적용
.lnb__title h2{ font-size: 2.5rem; margin-bottom: 1.6rem; font-weight: 500;} // 관리자 페이지 제목
.flex__title { display: flex; align-items: center; justify-content: space-between;} // 관리자 페이지 예시 (건수 등 결과 값이 있을 시 넣는 클래스)
.flex__title span {font-size: 1.6rem;}

.function__group.y__flex {
    align-items: center;  
}


// 메뉴별 권한 관리
.auth__table__wrap { width: 28rem; margin-right: auto; }


.content .table__horizontal {border-top: 0.1rem solid #ddd;}
// col group
.main__table .main__th {width: 15.38%;}
.main__table .sub__th {width: 34.62%;}
// 메뉴 상세정보 colgroup 
.main__table .menu__th {width: 18.9%; min-width: 12rem;}
.main__table .menu__td {width: 30.6%;}

/*
    manage__labor
    관리자 > 회계공시관리 > 노동조합체계관리
*/ 
.system__margin { margin-bottom: 15rem;}
.system__margin .main .content .table__horizontal .main__table tbody th { padding: 0 3rem;}
.system__infomation .table__horizontal td {border-bottom: 0;}
.content .system__infomation .table__horizontal .main__table tbody tr .note__th label {left: 3rem;}
.system__infomation .table__note {border-bottom: 0.1rem solid #ddd;}



// 회계공시 조회
.search__accounting .main__th {width: 16rem;}
.search__accounting .search__td {width: 28rem;}
.search__accounting .radio__th {width: 13rem;}

// manage__accounting 바뀐 테이블 타이틀 영역
.lnb__title .item {margin-right: 3rem; position: relative; padding-right: 3rem; font-size: 2rem;}

.table__title-3 .last__item::after{display: none;}
.table__title-3 .item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px; /* 원하는 높이 설정 */
    border-right: 0.15rem solid #e4e4e4 ; /* 원하는 색상 설정 */
}





// 상위메뉴 검색
.table__horizontal .main__table .menu__find {
    display: flex;
    border-bottom: 0;

    input:nth-child(1){
        width: 18.35rem;
    }

    input:nth-child(2){
        padding: 0.8rem 2.6rem;
        background-color: #fff;
        color: #000;
        border: 0.1rem solid #ccc;
        font-weight: 400;
        margin-left: 1rem;
    }
}

// 비고 

.content .table__horizontal .main__table tbody tr .note__th {
    position: relative;

    label{
        position: absolute;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
    }
}


.content .table__note {
    height: 12rem;

    .main__table textarea {
        margin-top: 0.8rem;
        height: calc(100% - 1.6rem);
        width: 100%;
        border: 0.1rem solid #ddd;
    }
}

.width__100 {
    width: 100%;
}

/*
    ac__management
    관리자>통계및보고서관리>회계관리현황
*/

    // margin-bottom: 5.6rem;
    select {
        display: inline-block;
        // width: 100%;
        height: 100%;
        height: 4rem;
        padding: 0.8rem 1rem 0.8rem 1.6rem;
        -webkit-appearance: none;  /* 크롬 화살표 없애기 */
        -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
        appearance: none;  /* 화살표 없애기 */
        position: relative;
        font-size: 1.6rem;
        border: 0.1rem solid #ccc;
    }
    .select__renew {
        background: url(../img/select__renew.png) no-repeat 93% 50%;
        background-color: #fff;
    }
    .search__work__group input {
        padding: 0.8rem 1rem;
        font-size: 1.6rem;
    }


.table__horizontal .main__table tbody th {line-height: 5.8rem;}
.menu__url .main__table .sub__th {width: auto;}


// 조회결과 표 스타일
.check__result {
    colgroup {
        col:first-child {
            width: 6.6%;
        }
        col:not(:first-child) {
            width: calc((100% - 6.6%) / 8);
        }
    }
}
.check__result .table__vertical table thead tr th:nth-child(1) {border-left: 0;}
.check__result .table__vertical table thead tr th:nth-last-child(1) {border-right: 0;}
.check__result .table__vertical table tbody tr th:nth-child(1){border-left: 0; background-color: transparent;}
.check__result .table__vertical table tbody td:nth-last-child(1) {border-right: 0;}
.check__result .pagination { 
    margin-top: 2rem;
    margin-bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .page-navi {line-height: 4rem; font-size: 1.6rem;}
    .page-navi.prev {display: inline-flex; align-items: center; margin-right: 2rem;
        &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/more__arrow__left__black\ 1.png) no-repeat center;
        }
    }
    .page-navi.next {
        display: inline-flex;
        align-items: center;
         margin-left: 2rem;
        &::after {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-block;
            background: url(../img/more__arrow__right__black.png) no-repeat center;
        }
    }

    .page-link {
        display: inline-block;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        font-size: 1.6rem;
        border-radius: 0.7rem;
    }
    
    .active {
        background-color: #0c3975;
        color: #fff;
        font-weight: 600;
    }
}


.note__th {border-bottom: 0.1rem solid #ddd;}
.no__border__note .note__th {border-bottom: 0;}








// 회계공시 조합 관리 
.check__year__result {
    .pagination {
    margin-bottom: 6rem;
    }
    .table__vertical {
        // table td {padding-right: 0;}
        colgroup {
            col {
                &:nth-child(1),  &:nth-child(2) {
                    width: 6.6%;
                }
             &:not(:nth-child(1)):not(:nth-child(2)) {
                width: calc((100% - 13.2%) / 9); /* 6.6% * 2 = 13.2% */
            }
            }
        }
    }
}

.year__data__wrap {
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: start;
    height: 40rem; overflow: hidden;
    border: 0.1rem solid #ddd;
    
    img { width: 100%; object-fit: cover; height: 100%;}
}






.modal__result .radio__table tr td {text-align: left;}
.modal__result tr {line-height: 5.8rem;}
.modal__result .report__check__table tbody tr td { padding: 0 1rem; }
.modal__result {
    border-top: 0.2rem solid #000;
    table {
        tbody tr td {text-align: center;
            &:nth-last-child(1){
                border-right: 0;
            }
        }
        .count {background-color: #DCE7FC;}
    }
}



.report__content .content {width: 100%;}
.check__result .report__col {
    col {
        &:nth-child(1) {width: 3.5%;}
        &:nth-child(2) {width: 7.5%;}
        &:nth-child(3) {width: 4.7%;}
        &:nth-child(11){width: auto;}
        @for $i from 4 through 10 {&:nth-child(#{$i}) {width: 6.6%;}}
        @for $j from 12 through 15 {&:nth-child(#{$j}) {width: 7.5%;}}
    }
}

/** 리포트 조회 리스트 */

.report__check__table {
    .result__th { width: 12.5%; }
    .input__th { width: 40.6%;}
} 

.table__horizontal .main__table .report__th {padding-left: 3rem;}
.table__horizontal .main__table .border--no {border-bottom: none;}



// 모달 창 내부 조회 버튼
.modal__check {
    position: absolute;
    right: 0;
    top: 2rem;

    button {
        background-color: #246BEB;
        color: #fff;
        border: 0;
        font-size: 2rem;
        height: 5.6rem;
        padding: 0 2rem;
        border-radius: 0.7rem;
        font-weight: 600;
        cursor: pointer;
    }
}


.modal__info { margin-bottom: 1.6rem;
    h2 {font-size: 2.5rem; font-weight: 700;}
}


.modal__info .radio__wrap {
    label:nth-of-type(1){
        margin-right: 1.2rem;
    }
    label {font-size: 1.5rem;}
    .flex {display: flex; align-items: center; margin-left: 2rem;}
    input[type="radio"] {
        appearance: none;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: 0;
        margin-right: 0.7rem;
    }
    input[type="radio"]:checked {
        border: 0.6rem solid #000;
    }
    input[type="radio"]:not(:checked) {
        border: 0.1rem solid #ddd;
    }
}


.wrap .report__content .table__horizontal .main__table .radio__wrap .flex label { margin-right: 2rem;}

.user__wrap .content {margin-top: 4rem;}



// 통계 및 보고서 관리 페이지

// .ac__manage__wrap-table td {text-align: right;}

.radio__container-margin label:not(:last-child) {margin-right: 1rem;}





/*
    manage__user
    관리자 > 사용자 관리
*/

.manage__user__table .group {border: 0.1rem solid #ddd; line-height: 4rem; padding: 0 1rem;}
.manage__user__table .container .group:nth-child(even) {margin: 0 1rem}
