/*
    서브 페이지 CSS
*/


// 서브 페이지들의 컨텐츠는 공통적으로 #sub__wrap을 이용합니다.
// page 1 - 회계공시 열람

#sub__wrap .content .visual__bg { width: 100%; height: 25rem; background: url(../img/bg__sub1-1.png) no-repeat center; background-size: cover; position: relative; }
#sub__wrap .content .visual__bg .visual__text { position: absolute; top: 50%; transform: translateY(-50%); color: #fff; }
#sub__wrap .content .visual__bg .visual__text h2 { font-size: 3.2rem; margin-bottom: 2.8rem; white-space: nowrap; }
#sub__wrap .content .visual__bg .visual__text p { font-size: 1.5rem; }

.mobile__tab { display: none; }
.mobile__tab__content { display: none;}

// 회계공시등록 페이지
.tab__content { padding-top: 8rem; }
.tab__content .tab:nth-child(2) {padding-top: 8rem;}
.tab__content .data__title { margin-bottom: 1.6rem; text-align: left; position: relative; font-size: 2rem; color: #333; font-weight: 600; }
.tab__content table tbody th { font-weight: 500; color: #000;}
// 임시 코드
.border__input__wrap .table__vertical tbody tr td input {width: 100%; border-radius: 0; text-align: right;}
.border__input__wrap .table__vertical tbody tr:nth-child(1) input {background-color: #DAE5FA;}

// thead가 없는 가로형 표 스타일
.table__horizontal { height: 5.8rem; border-top: 0.2rem solid #333; }
.table__horizontal table { height: 100%; }
.table__horizontal tbody th { font-weight: 500; background: #f8f8f8; text-align: left; padding: 0 1.5rem; line-height: 4.5rem; }
.table__horizontal td { padding: 0 1rem; }
.table__horizontal td select { width: 100%; height: 4rem; border: 0.1rem solid #ccc; font-size: 1.5rem; padding: 0.8rem; }
.table__horizontal td input[type="text"] { border: 0.1rem solid #ccc; height: 4rem; font-size: 1.5rem; }

.input--flex { display: flex; justify-content: space-between; align-items: center; height: 100%; }
.tab .dis__info:not(:first-child) { padding-top: 5.6rem; padding-bottom: 5.6rem; }
.tab .table__vertical { border-top: 0.2rem solid #333; width: 100%; }
.align__cols { width: 15.38%; }
.tab__4 .table__horizontal table tbody th {border-bottom: 0;}
.tab__4 .table__horizontal td {border-bottom: 0;}


// 지출 현황
.expend__sit .table__vertical table thead tr th { line-height: 150%; }
.expend__sit .table__vertical table { table-layout: fixed; }
.tab__content .tab .expend__sit { padding-bottom: 0; margin-bottom: 5.6rem; }
.earn__sit .tab__detail { overflow-x: auto; }
.earn__sit table { min-width: 84rem; }
.expend__sit .tab__detail { overflow-x: auto; }
.expend__sit table { min-width: 102.4rem; table-layout: fixed; }
.table__last .input--flex input { width: 100%; }

// 서브 페이지 공통
.data__number {font-size: 2.1rem; font-weight: 700;}
.data__number > span {color: #1D56BC;}
.page__title__wrap {margin-top: 8rem; margin-bottom: 6.4rem;}
.search__form__user {background-color: $theme-krds-skyblue-01; border-radius: 1.2rem;}
.search__form__user .search {padding: 4rem;}
.search__form__user .search .flex--box-c:nth-of-type(1) {padding-bottom: 2.4rem;}
.search__form__user .search input {font-size: 1.7rem;}
.search__form__user .search .select__box {min-width: 18rem; height: 4.8rem;}
.search__form__user .search .input__box {height: 4.8rem; display: flex; flex: 1;}
.search__form__user .search .input__box > input {height: 100%; flex: 1; margin:0 2.4rem ;}
.search__form__user .search .select__box > select {width: 100%; height: 100%;}
.search__form__user .search > div label {font-size: 1.7rem; font-weight: 700; margin-right: 1.2rem;}

.form__container {display: flex; flex-wrap: wrap; gap: 2.4rem;}

.btn__control__u {color: #fff; font-size: 1.7rem; border-radius: 0.7rem; padding: 0 1.6rem; height: 4.8rem;}


// 홈 > 회계공시열람
.accn__result table {font-size: 1.6rem;}
.accn__result table thead th:not(:first-child){border-right: 0;}
.accn__result table tbody td:not(:first-child){border-right: 0;}
