/*
    서브 페이지 CSS
*/


label.mo_only {display: none;}
button.mo_only {display: none;}

// 서브 페이지들의 컨텐츠는 공통적으로 #sub__wrap id , 서브 페이지 이미지 지정 
#sub__wrap .content .visual__bg { width: 100%; height: 25rem; position: relative; }
#sub__wrap .accn_desc .visual__bg {background: url(../img/top_visual_desc.jpg) no-repeat center;  background-size: cover; }
#sub__wrap .accn_open .visual__bg {background: url(../img/top_visual_public_open.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .main_accn_desc .visual__bg {background: url(../img/top_visual_desc.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .member_info_change .visual__bg{background: url(../img/top_visual_security.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .notice_detail .visual__bg {background: url(../img/top_visual_notice.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .notice .visual__bg {background: url(../img/top_visual_notice.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .password_change .visual__bg{background: url(../img/top_visual_security.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .public_register .visual__bg {background: url(../img/top_visual_public_open.jpg) no-repeat center;  background-size: cover;} 
#sub__wrap .sign_up .visual__bg {background: url(../img/top_visual_sign_up.jpg)  no-repeat center;  background-size: cover;}
#sub__wrap .sub1_1 .visual__bg{background: url(../img/top_visual_public_open.jpg) no-repeat center;  background-size: cover; }
#sub__wrap .union_management .visual__bg {background: url(../img/top_visual_union.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .faq .visual__bg {background: url(../img/top_visual_faq.jpg) no-repeat center;  background-size: cover;}
#sub__wrap .file_change .visual__bg {background: url(../img/top_visual_security.jpg) no-repeat center;  background-size: cover;}

// 서브 페이지별 버튼 마진
.function__group.margin-1 {margin-top: 4rem;} 
.function__group.margin-2 {margin-top: 6.4rem;} 
.pagination__margin {margin-top: 6.4rem; margin-bottom: 20rem;}
.pagination__margin__mo {margin-top: 3.6rem; margin-bottom: 6rem;}


.notice__detail  .function__group.margin-1 {margin-bottom: 10rem;}
.public__register__wrap .function__group.margin-2 {margin-bottom: 25rem;}


// 서브 페이지 이미지 텍스트 위치 
#sub__wrap .content .visual__bg .visual__text {position: absolute; bottom: 7.2rem; color: #fff;}
#sub__wrap .content .visual__bg .visual__text h2 { font-size: 4rem; margin-bottom: 1.2rem; white-space: nowrap; } // 2.8rem
#sub__wrap .content .visual__bg .visual__text p { font-size: 2.2rem; }

// 모바일 탭 기본 설정 (회계공시 열람 상세 페이지)
.mobile__con {display: none;}
.mobile__tab {display: none; }
.mobile__tab__content { display: none;}

.sub1__1__wrap .tab__content .data__header {margin-bottom: 3.6rem;}
// 탭별 버튼 마진
// .sub1__1__wrap .tab:nth-of-type(1) .pc__info {margin-top: 6.4rem;}
// .sub1__1__wrap .tab:nth-of-type(2) .pc__info:not(:last-child) {margin-top: 6.4rem; margin-bottom: 6.4rem;}
// .sub1__1__wrap .tab:nth-of-type(3) .pc__info {margin-top: 6.4rem;}
// .sub1__1__wrap .tab:nth-of-type(4) .pc__info {margin-top: 6.4rem;}

.sub1__1__wrap .tab .pc__info {margin-top: 6.4rem;}
.sub1__1__wrap .tab:nth-of-type(3) .chart__wrapper {margin-bottom: 6.4rem;}
.sub1__1__wrap .tab:nth-of-type(4) .chart__wrapper {margin-bottom: 6.4rem;}
.sub1__1__wrap .function__group.margin-2 {margin-bottom: 25rem;}
.data__title {text-align: left; position: relative; font-size: 2.5rem; color: #333; font-weight: 700;}
// 회계 공시 등록 > 회계공시 탭 페이지 스타일 임시 코드
.border__input__wrap .table__vertical tbody tr td input {width: 100%; border-radius: 0; text-align: right; font-weight: 700;}
.border__input__wrap .table__vertical tbody tr:nth-child(1) input {background-color: #DAE5FA;}

.input--flex { display: flex; justify-content: space-between; align-items: center; height: 100%;}

// .tab .dis__info:not(:first-child) { padding-top: 5.6rem; padding-bottom: 5.6rem; }
// .tab .table__vertical { border-top: 0.2rem solid #333; width: 100%;}


.align__cols { width: 15.38%; }
.tab__4 .table__horizontal table tbody th {border-bottom: 0;}
.tab__4 .table__horizontal td {border-bottom: 0;}


// 지출 현황
.expend__sit .table__vertical table thead tr th { line-height: 150%; }
.expend__sit .table__vertical table { table-layout: fixed; }
.tab__content .tab .expend__sit { padding-bottom: 0; margin-bottom: 5.6rem; }
.earn__sit .tab__detail { overflow-x: auto; }
.earn__sit table { min-width: 84rem; }
.expend__sit .tab__detail { overflow-x: auto; }
.expend__sit table { min-width: 102.4rem; table-layout: fixed; }
.table__last .input--flex input { width: 100%; }

// 서브 페이지 공통
.data__number {font-size: 2.1rem; font-weight: 700;}
.data__number > span {color: #1D56BC;}
.page__title__wrap {margin-top: 8rem; margin-bottom: 6.4rem;}
.search__form__user {background-color: $theme-krds-skyblue-01; border-radius: 1.2rem;}
.search__form__user .search {padding: 4rem;}

// 파일 찾기 폼
.search__form__user .preview {background-color: #fff; height: 4.8rem; flex-grow: 1;}
.search__form__user .upload__wrap .btn__file__select {font-weight: 400; min-height: 4.8rem;}
.search__form__user .upload__wrap .btn__upload {font-weight: 400; min-height: 4.8rem;}

// 검색 폼이 두 줄인. 회계공시 열람 페이지에만 적용
.search__form__user .search .first__input__box {padding-bottom: 2.4rem;}
.search__form__user .search input {font-size: 1.7rem;}
.search__form__user .search .select__box {min-width: 18rem; height: 4.8rem;}
.search__form__user .search .input__box {height: 4.8rem; display: flex; flex: 1;}
.search__form__user .search .input__box > input {height: 100%; flex: 1; background: #fff;}
.search__form__user .search .select__box > select {width: 100%; height: 100%;}
.search__form__user label.mo_only {font-weight: 700; font-size: 1.7rem; padding-bottom: 1rem; margin-right: auto;}



.form__container {display: flex; flex-wrap: wrap; gap: 2.4rem;}


// 가맹 노조 크기 작은 버튼 크기
.btn__control__u {color: #fff; font-size: 1.7rem; border-radius: 0.7rem; padding: 0 1.6rem; height: 4.8rem;}

.accn__open__wrap .search__form__user .search .input__box > input {margin: 0 2.4rem;}
.accn__open__wrap .search__form__user .search > div label {font-size: 1.7rem; font-weight: 700; margin-right: 1.2rem;}

// 홈 > 회계공시열람
.accn__result table {font-size: 1.6rem;}
.accn__result table thead th:not(:first-child){border-right: 0;}
.accn__result table tbody td:not(:first-child){border-right: 0;}

// .accn__open__page .pagination {margin-bottom: 18rem; margin-top: 6.4rem;} 


// 홈 > 시스템안내 > 자주묻는 질문
.faq__wrap .search__form__user .input__box > input {margin: 0 2.4rem;}
.qna__container {display: inline-flex; justify-content: center; align-items: center; width: 2.6rem; height: 2.6rem; border-radius: 50%; color: #fff;}
.qna__container.question {background-color: #16C273;}
.qna__container.answer {background-color: #000000;}

// 자주 묻는 질문 테이블
.foldStyle__table tbody tr {min-height: 5.8rem; border-bottom: 0.1rem solid #ddd; display: flex; align-items: stretch;}
.foldStyle__table tbody tr:nth-child(odd) td {display: flex; align-items: center;}
.foldStyle__table .text__container {flex-grow: 1; flex-basis: 75%;}
.foldStyle__table tbody tr:nth-child(even){background-color: #F9F9FA;}
.foldStyle__table .qna__title {min-width:12rem; border-right: 0.1rem solid #ddd; min-height: 5.8rem; display: flex; align-items: center; justify-content: center;}
.foldStyle__table .answer__toggle { font-weight: 700; text-align: left;}
.foldStyle__table .qna__function__group {margin-left: auto; margin-right: 3rem;}
.foldStyle__table .arrow__box {width: 3.2rem; height: 3.2rem; margin-left: 5.4rem;}
.foldStyle__table .arrow__box > img {width: 100%; height: 100%;}

// .faq__page__wrap .pagination {margin-top: 7.6rem; margin-bottom: 4rem;}




// 홈 > 시스템 안내 > 공지사항
.notice__page .pagination {margin-bottom: 20rem;}
.notice__wrap .search__form__user .input__box > input {margin: 0 2.4rem;}





// 홈 > 시스템 안내 > 공지사항 상세
.notice__detail__wrap table {font-size: 1.6rem;}
.notice__detail__wrap .content__desc {min-height: 45rem; font-size: 1.7rem; color: #555555;}
.notice__detail__wrap .table__horizontal__ex .td__container {height: 100%; align-items: center;}
.board__detail {padding: 6.4rem 0;}
.notice__detail__wrap .file__wrap {min-height: 5.8rem; background-color: #EAF5F0; display: flex; align-items: center;}
.file__wrap .file__header {min-width: 25rem; padding-left: 3rem; font-weight: 700; line-height: 5.8rem; border-right: 0.1rem solid #ddd;}
.file__wrap .list {flex-grow: 1; max-width: 84rem;}
.file__wrap .list > span {font-weight: 500;}
.file__wrap .download {margin-left: auto; padding-right: 3.6rem;}


// 이전글, 다음글 영역
.prev__next {font-size: 1.6rem; border-bottom: 0.1rem solid #ddd;}
.prev__next > li {overflow: hidden; position: relative; padding: 1.8rem 0 1.8rem 3rem;  max-height: 5.8rem; display: flex; align-items: center; border-top: 0.1rem solid #ddd;}
.prev__title {font-weight: 700;}
.prev__next .prev span, .prev__next .next span {min-width: 22rem; display: inline-flex; align-items: center;}
.prev__next .prev span::before {content: ''; margin-right: 2rem; display: inline-block; width: 2.4rem; height: 2.4rem; 
     background: url(../../img/arrow__top-bk.svg) no-repeat center;
     background-size: 2.4rem auto;
}
.prev__next .next span::before {content: ''; margin-right: 2rem; display: inline-block; width: 2.4rem; height: 2.4rem; 
    background: url(../../img/arrow__bottom-bk.svg) no-repeat center;
    background-size: 2.4rem auto;
}

// 공지사항 목록 버튼
.notice__list {margin-top: 10rem; margin-bottom: 10rem;}

// 홈 > 회계공시등록 > 가맹노조(산하조직)관리
.union__management__wrap .pagination{margin-bottom: 6.4rem;}
.union__management__wrap .table__horizontal__ex {margin-bottom: 25rem;}
// .union__management__wrap .search .input__box , .union__management__wrap .search .preview {max-width: 48rem; min-width: 48rem;}
.union__management__wrap .search .input__box {margin-right: 2.4rem;}
.union__management__wrap .btn__file__select {min-width: 9.1rem;}
.union__management__wrap .upload__wrap {flex-grow: 1;}
.union__management__wrap .function__group {position: absolute; top: 0; right: 0;}
.union__management__wrap .table__horizontal__mo tr td:first-child {padding-bottom: 1rem;}
.union__function__group .btn__control__u {padding: 0 1.2rem; font-size: 1.5rem; height: 4rem;}
.union__table__title__wrap {margin-bottom: 3.6rem;}



// 홈 > 회계공시 시스템이란
.accn__desc__wrap .desc__inner {padding: 0 9rem;}


// 설명 1번 섹션
.accn__desc__wrap .content__section:first-child { display: flex; position: relative; }
.content__section:first-child .image__container {
    min-width: 33.7rem;
    min-height: 52.7rem;
    margin-right: 5rem;
    background-image: url('../img/accn__desc__img_01.png');
    background-size: cover;
}
.content__section .text__container .title {font-size: 3.6rem; font-weight: 700;}
.content__section .text__container .desc {font-size: 1.8rem; color: #555555; max-width: 65rem;}
.content__section:first-child .text__container {padding-top: 13rem;}
.content__section:first-child .text__container .desc:nth-of-type(1) {margin-bottom: 2.4rem;}
.content__section:first-child .text__container .desc:nth-of-type(2) {margin-bottom: 5rem;}
.content__section:first-child .text__container .desc__light {color: #9C9C9C;}
.content__section:first-child .circle__image__container {width: 15.3rem; height: 18.4rem; 
    background-image: url('../img/accn__desc__img__circle__01.png');
    position: absolute;
    bottom: 0;
    right: 0;
}
// 주요 공시항목 설명 2번 섹션
.accn__desc__wrap  .section {margin-top: 10rem;}
.accn__desc__wrap .content__section:nth-child(2){display: flex; position: relative;}
.accn__desc__wrap .content__section:nth-child(2) .image__container{min-width: 58.4rem; min-height: 27.9rem; max-width: 58.4rem; max-height: 27.9rem; margin-left: 5rem; background-image: url('../img/accn__desc__img_02.png'); background-size: cover;}
.accn__desc__wrap .content__section:nth-child(2) .text__container {padding-top: 4rem; max-width: 47rem;}
.accn__desc__wrap .content__section:nth-child(2) .text__container .desc {margin-top: 3rem;}
.accn__desc__wrap .content__section:nth-child(2) .circle__image__container {width: 41.2rem; height: 11rem; background-image: url('../img/accn__desc__img__circle__02.png'); position: absolute; left: 2.7rem; top: 22rem; bottom: -2rem; background-size: cover;} 
.accn__desc__wrap .content__section:nth-child(3) .image__container {background-position: center center;}

// 주요 공시항목 설명 3번 섹션
.accn__desc__wrap .expected__section {text-align: center; margin-bottom: 35rem;}
.accn__desc__wrap .expected__section .image__container {width: 100%; height: 26.2rem; margin: 5rem 0; background-image: url('../img/accn__desc__img__circle__03.png'); background-position: center center;}
.accn__desc__wrap .expected__section .title {font-size: 4.8rem; font-weight: 700;}


// 홈 > 시스템안내 > 주요 공시항목 설명
.main__accn__desc__wrap .desc__banner{margin: 6.4rem 0; }
.main__accn__desc__wrap .image__container {text-align: center; margin: 6.4rem 0;}
.main__accn__desc__wrap .image__container img {max-width: 100%;}
.main__accn__desc__wrap .table__vertical th {height: 5.8rem;}
.main__accn__desc__wrap .table__vertical tbody th {height: 5.8rem; background: transparent;}
.main__accn__desc__wrap .tab .table__vertical {border-top: 0.2rem solid #00A463;}
.main__accn__desc__wrap .table__vertical tbody td {padding: 0.8rem 1rem; margin-top: 1rem; margin-bottom: 1rem;}

.main__accn__desc__wrap .tab:nth-of-type(1) .table__vertical {margin-bottom: 25rem;} //첫번째 탭 표에만 적용
.main__accn__desc__wrap .tab:nth-of-type(2) .content__section:not(:last-child) {margin-bottom: 10rem}
.main__accn__desc__wrap .tab:nth-of-type(2) .content__section:last-child {margin-bottom: 30rem}

// 공시항목 설명 배너
.desc__banner {background-color: #82C252; color: #fff; display: flex; align-items: center; padding: 2.6rem 2.4rem; max-height: 6.4rem; border-radius: 0.8rem;}
.desc__banner .title {font-size: 1.7rem; font-weight: 700; margin-right: 1.6rem;}
.desc__banner .desc {font-size: 1.5rem; font-weight: 400;}

// 홈 > 회계공시등록 > 회계공시등록
#public__register__form .form__table th {width: 15.38%; min-width: 15rem; max-width: 15rem;}
#public__register__form .td__calender__wrap {max-width: 49rem;}
#public__register__form .td__calender {width: auto;}
.public__register__wrap .form__table th {padding: 0 1.5rem;}
.public__register__wrap .table__horizontal__ex .wide__first td:nth-of-type(2) .td__container {flex-wrap: nowrap;}
.public__register__wrap .data__header {margin-top: 6.4rem; margin-bottom: 3.6rem;}
