/* 서브 모바일 스타일 CSS */


// 모바일용 탭 버튼
.mobile__tab {
    .swiper-slide {
      max-width: 13rem;
      text-align: center;
      button {
        width: 100%;
        height: 100%;
        color: #555555;
        background: transparent;
        font-size: 1.9rem;
        padding: 2rem 1.6rem;
        white-space: nowrap;
        border-bottom: 0.2rem solid #ddd;
        font-weight: 700;
      }
}
  
  .swiper-button-next {
    border-radius: 50%;
    background: url(../img/mo__tab__next.png) no-repeat center;
    background-size: 100% auto;
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.25);
  }
  .swiper-button-prev {
    border-radius: 50%;
    background: url(../img/mo__tab__prev.png) no-repeat center;
    background-size: 100% auto;
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.25);
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 0;
    margin-top: calc(0px - (2.4rem / 2));
    &::after {
      display: none;
    }
  }
}

.mobile__tab .swiper-slide button.active {border-bottom: 0.4rem solid #21A366; color: #21A366;}



// 전체 테이블 기본 스타일
  .mobile__con { margin: 4rem 0;
    .market {
      margin-bottom: 4rem;
    }
  table {
    text-align: left;

    tr {
      display: flex;
      align-items: center;
      // flex-wrap: wrap;
      margin-top: 2rem;

      th:nth-of-type(2) {
        margin-top: 2rem;
      }

      td {
        margin-top: 1rem;
      }

      th,
      td {
        width: 100%;
        select {
          width: 100%;
          height: 4rem;
          border: 0.1rem solid #ccc;
          padding: 0.8rem;
        }
        input {
          text-align: right;
        }
      }
    }
  }
}

.mobile__con table th {background: transparent;}

// 아코디언 테이블 스타일
  .mo__column {
    font-size: 1.7rem;

    tr {
      flex-wrap: nowrap;
      margin-top: 1.6rem;
      td {
        &:nth-child(2) {
          text-align: right;
        }
      }
    }

    // 계층 구조 1 (당기수입)
    .sub__element {
      font-weight: 700;
      font-size: 1.8rem;
      color: #333;
      margin-top: 2.4rem;
    }

    td {
      margin-top: 0;
    }
  }

// 하위 항목 표시
.child__arrow {display: inline-block; width: 1.6rem; height: 2.2rem; background: url(../../../img/arrow__right-bk.svg) no-repeat center; background-size: cover;}
.mo__column .sub__element td {display: flex; align-items: center;}
.mo__column .sub__element td > span {display: flex; align-items: center;}
.mo__column .sub__element td::after {content: ''; height: 1px; background-color: #ddd; flex: 1; margin-left: 1rem;}

// .mo__column .sub__element td::after {position: absolute; top: 50%; width: 20px; height: 1px; background-color: red;}


.data--open {
  position: relative;
  padding: 2rem 0.8rem;
  font-size: 1.7rem;
  .arrow__wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;

    .arrow__top {
      display: none;
      width: 1.6rem;
      height: 1.6rem;
      background: url(../img/arrow__top-green.svg) no-repeat center;
    }
    .arrow__bottom {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      background: url(../img/arrow__bottom.png) no-repeat center;
    }
  }
}


.data--open.first {border-top: 0.1rem solid #ddd;}
.data--open {cursor: pointer;width: 100%;position: relative; border-bottom: 0.1rem solid #ddd;}
.data__toggle {font-size: 1.7rem;font-weight: 700;width: 100%;}
.data--open.on {border-bottom: 0.3rem solid #21A366; color: #21A366;}
.data--open.on .arrow__top { display: block;}
.data--open.on .arrow__bottom { display: none;}

//공통 table 스타일
.mo__slide {padding: 0 1rem;}
.t__title__wrap {padding-bottom: 1rem; border-bottom: 0.1rem solid #ddd;}
// .mo__column .t__title {font-size: 2rem;}
.t__last__data {margin-bottom: 3rem;}

// 노동 조합 정보
.list__btn__group { text-align: right;}
.list__btn__group button {color: #fff; border: 0; font-size: 2rem; height: 5.6rem; padding: 0 2rem;  margin-top: 4rem; margin-bottom: 2rem; border-radius: 0.7rem; font-weight: 600;}

.mobile__market__input {width: 100%;}
.mobile__market__input__2 {width: calc(50% - 1em);}
.mobile__market__input__3 {width: calc(33.33% - 1em);}

// 회계공시열람 첫번째 td 넓이
.tab__content table tbody .cols2 .must__write {position: absolute; top: 50%; transform: translateY(-50%);}

// 탭 4 시계열 차트
.tab__4__table {margin-bottom: 2.8rem;}