/*
   메인 페이지 및 레이아웃 (헤더,푸터) 미디어 쿼리 CSS
*/ 



/* 큰 화면에서 중앙 정렬이 안맞는 오류가 있었음*/
@media all and (min-width: 1441px) {
  .banner__swiper .swiper-button-next, .swiper-button-prev {margin-top: calc(0px - (64px / 2));}
}

/* 노트북 소형~ 중형 1080px ~ 1440px */
@media all and (min-width: 1080px) and (max-width: 1440px) {  
  .wrap .inner {width: 102.4rem;}
  .wrap .cs__center .content .item { width: 48rem;}
  .wrap .count__group .count {width: 32%;}
  .wrap .banner__btn {width: 102.4rem; }  
  .banner__btn .swiper-button-next, .banner__btn .swiper-button-prev { width: 4rem; height: 4rem; }
  .content .tab__wrap { width: 102.4rem;}
  // 메인 데이터 차트
  // .main__echart .table__vertical {width: calc(100% - 64rem - 4rem);}
  .main__echart .table colgroup col:nth-child(1){width: 25%;}
  .main__echart .table colgroup col:nth-child(2){width: 20%;}
  .main__echart .table tbody td:nth-child(n+3) {white-space: nowrap;}
  .main__echart .table tbody td {padding: 0 0.4rem;}
  .main__echart > div {gap: 2rem;}
}

/* 태블릿 큰 사이즈 768px ~ 1079px */
@media all and (min-width: 768px) and (max-width: 1079px) {
  .wrap .inner {width: 100%; padding: 0 2rem;}
  .top__visual .main__hero .main__text {position: static; padding-top: 6.3rem; text-align: center;}
  .count__group .count {width: 32%; height: auto; padding: 2rem 0;}
  .count__group .count .subc {font-size: 2.8rem;}
  .top__visual .main__hero .quick__menu {position: static; justify-content: center; padding-top: 10rem; padding-bottom: 4rem;}
  .wrap .main__swiper .main__btn__group {bottom: -2rem;}
  .wrap .swiper__container {width: 85.625%;}
  .wrap .footer__top .inner {padding: 0;}
  .wrap .footer__bottom .footer__flex {flex-direction: column;}
  .wrap .footer__global .g__flex {flex-direction: column;}
  .wrap .footer__global .global__link {margin-top: 1.6rem;} 
  .wrap .footer__global .global__link a {display: block; width: 100%; margin-bottom: 1.6rem;} 
  .wrap .footer__bottom .footer__logo {display: none;}
  .wrap .footer__bottom .mobile__logo {padding-top: 4rem;} 
  .wrap .sns__info {padding-top: 3.2rem;} 
  .wrap .sns__info .icon__wrap {padding: 3.2rem 0;} 
  .wrap .banner__btn {width: calc(100% - 4rem);}
  .content .tab__wrap {width: 100%; padding: 0 2rem; padding-top: 8rem;}

  // 메인 데이터 차트
  .main__echart > div {flex-direction: column; gap: 4rem;}
  .main__echart .table__vertical {width: 100%;}
  .main__echart .table colgroup col:nth-child(1){width: 20%;}
  .main__echart .table colgroup col:nth-child(2){width: 20%;}
  .main__echart__wrap {width: 100%;}
  .main__echart .main__echart__wrap .chart1 , .main__echart .main__echart__wrap .chart2 {width: 50%;} 
  .main__echart .chartBox .echart {display: flex; justify-content: center;}
  .main__echart .table__vertical table tbody td, .main__echart .table__vertical table thead th  {font-size: 1.6rem;}

  // .upload__manager .preview {min-width: auto; flex-grow: 1;}
}

/* 모바일 가로 & 테블릿 세로 480px ~ 767px */
@media all and (min-width: 480px) and (max-width: 767px) {
  .wrap {
    // 공통 영역
    .inner { width: 100%; padding: 0 1.6rem; } 
    .swiper__container { width: 100%; padding: 0 9.2rem; } 
    .count__group .count { width: 32%; }
    .top__banner { height: auto; }
    .banner__wrap { display: flex; }
    .logo { display: none; }
    .mobile__logo { display: block; width: 196px; display: flex; align-items: center; }
    .banner__btn { width: calc(100% - 1.6rem); } 
    .content .tab__wrap { width: 100%; padding: 0 1.6rem; }
    // 헤더 영역
    .header__top { display: none; }
    .header__gnb #gnb1{ display: none; }
    .header__btm .right__icon__set .talk { display: none; }
    .header__btm .right__icon__set .sign__up { display: none; }
    .header__btm .right__icon__set .hamburger { display: inline-flex; }
    .header__btm .right__icon__set a { flex-direction: column; font-size: 1.3rem; }
    .header__btm .right__icon__set a span { padding-top: 0.8rem; } 
    .header__btm .right__icon__set a img { margin: 0; }
    // 상단 비주얼 영역
    .top__visual .main__hero .main__text { position: static; padding-top: 6.3rem; text-align: center; } 
    .top__visual .main__hero .main__text .main__bold { font-size: 3.2rem; margin-bottom: 0; padding-bottom: 3.2rem; } 
    .top__visual .main__hero .quick__menu { position: static; padding-top: 10rem; padding-bottom: 4rem; justify-content: center; }
    .top__visual .main__hero .quick__menu .quick__wrap { width: 10rem; height: 10rem; margin: 0; }
    .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) { margin: 0 2.4rem; } 
    .top__visual .main__hero .quick__menu .quick__wrap span { padding-top: 0.8rem; font-size: 1.3rem; }
    // 탑 비주얼 하얀색
    .count__group .count:nth-child(1), .count__group .count:nth-child(2) { margin-bottom: 1.6rem; }
    .count__group .inner { flex-wrap: wrap; }
    .count__group .count .subc { font-size: 2rem; } // 32px / 10
    .swiper__container { width: 80%; }
    .banner__swiper .swiper-slide-active { visibility: visible; }
    .banner__swiper .swiper-slide:not(.swiper-slide-active) { visibility: hidden; }
    .banner__swiper .swiper-slide { max-width: none; }
    .banner__btn .swiper-button-next, .banner__btn .swiper-button-prev { width: 4rem; height: 4rem; } 
    .main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap:nth-child(1)::after { display: none; }
    // 고객센터 영역
    .cs__center { height: auto; }
    .cs__center .content { flex-direction: column; padding: 5rem 0; gap: 8rem; } 
    .cs__center .content .item { width: 100%; }
    .cs__center .bg { height: 100%; }
    .cs__center .content__title { font-size: 2.5rem; }
    .cs__center .content .qa .content__qa a { padding-right: 2.4rem; } 
    .cs__center .content .visitor__graph { padding: 4rem 0; } 
    .cs__center .content .visitor__graph img { width: 90%; }
    // 푸터 영역
    footer .footer__top .btn__flex { width: 100vw; margin-left: calc(-50vw + 50%); }
    footer .footer__top { height: auto; }
    footer .footer__top .btn__flex .top__btn:nth-child(1) { border-top: 1px solid #d8d8d8; }
    footer .footer__top .btn__flex .top__btn { width: 100%; border-bottom: 1px solid #d8d8d8; }
    footer .footer__top .btn__flex { flex-direction: column; }
    footer .footer__bottom .footer__flex { flex-direction: column; }
    .footer__global .g__flex { flex-direction: column; }
    .footer__global .global__link { margin-top: 1.6rem; } 
    .footer__global .global__link a { display: block; width: 100%; margin-bottom: 1.6rem; } 
    .footer__bottom .footer__logo { display: none; }
    .footer__bottom .mobile__logo { padding-top: 4rem; } 
    .sns__info { padding-top: 3.2rem; }
    .sns__info .icon__wrap { padding: 3.2rem 0; } 
  }


}

/* pc 전환시까지 변환 유지 되어야 하는 영역 */
@media all and (min-width: 767px) and (max-width: 1079px) {
  .swiper__container { width: 100%; }
  .cs__center { height: auto; }
  .cs__center .content { flex-direction: column; padding: 5rem 0; gap: 8rem; }
  .cs__center .content .item { width: 100%; }
  .cs__center .bg { height: 100%; }
  .cs__center .content__title { font-size: 2.5rem; }
  .cs__center .content .qa .content__qa a { padding-right: 2.4rem; }
  .cs__center .content .visitor__graph { padding: 4rem 0; }
  .cs__center .content .visitor__graph img { width: 90%; }
  .banner__box .banner__text p { font-size: 2rem; }
  .banner__btn .swiper-button-next, .banner__btn .swiper-button-prev { width: 4rem; height: 4rem; }
  .main__swiper .swiper-slide-active .item .item__wrap .total .total__wrap:nth-child(1)::after { display: none; }
}


// 모바일 세로 이상 ~ 노트북 중형까지

// @media all and (min-width: 480px) and (max-width: 1080px){
//   .upload__manager .preview {min-width: auto; flex-grow: 1;}
//   .upload__manager .file__select__container {gap: 0;}
//   .upload__manager .btn__file__select {margin: 0 1rem;}
// }

@media all and (min-width: 360px) and (max-width: 1080px){
  .upload__manager .preview {min-width: auto; flex-grow: 1;}
  .upload__manager .file__select__container {gap: 0;}
  .upload__manager .btn__file__select, .upload__manager .btn__file__select--mo {margin: 0 1rem;}
}


/* 모바일 세로 (해상도 ~ 479px) 까지 */
@media all and (max-width: 479px) {
  .wrap {
    .top__banner .banner__wrap { line-height: 150%; padding: 0.8rem 0;} 
    .banner__text a {margin-left: 0;}
    .inner {width: 100%;padding: 0 1.6rem;} 
    .header__top {display: none;}
    .header__gnb #gnb1{display: none;}
    // .header__gnb #gnb2 {display: block;}
    .banner__wrap {display: flex;}
    .logo {display: none;}
    .mobile__logo {display: block;position: relative;}
    .mobile__logo img {position: absolute;top: 50%;transform: translateY(-50%);}
    .header__btm {margin: 0.8rem 0; padding-top: 0;}


    .header__btm .right__icon__set a { flex-direction: column; font-size: 1.3rem; }
    .header__btm .right__icon__set a span { padding-top: 0.8rem; }
    .header__btm .right__icon__set a img { margin: 0; }
    
    .top__visual .main__hero .main__text { position: static; padding-top: 6.3rem; text-align: center; }
    .top__visual .main__hero .main__text .main__bold { font-size: 3.2rem; padding-bottom: 3.2rem; margin-bottom: 0; }
    .top__visual .main__hero .quick__menu { position: static; padding-top: 10rem; padding-bottom: 4rem; justify-content: center; }
    .top__visual .main__hero .quick__menu .quick__wrap { width: 10rem; height: 10rem; margin: 0; }
    .top__visual .main__hero .quick__menu .quick__wrap:nth-child(2) { margin: 0 2.4rem; }
    .top__visual .main__hero .quick__menu .quick__wrap span { padding-top: 0.8rem; font-size: 1.3rem; }
    
    .count__group { position: static; padding: 5rem 0; }
    .count__group .count:nth-child(1), .count__group .count:nth-child(2) { margin-bottom: 1.6rem; }
    .count__group .inner { flex-wrap: wrap; flex-direction: column; }
    .count__group .count { width: 100%; padding: 2rem 0; }
    .count__group .count > a { flex-direction: row; justify-content: start; padding-left: 5.6rem; }
    .count__group .count .subc.open::before { background: url(../../img/mo__icons__open.png) no-repeat center; }
    .count__group .count .subc.write::before { background: url(../../img/mo__icons__write.png) no-repeat center; }
    .count__group .count .subc.manual::before { background: url(../../img/mo__icons__manual.png) no-repeat center; }
    .count__group .count .subc { font-size: 2.4rem; display: flex; align-items: center; }
    .count__group .count .subc::before { margin-bottom: 0; margin-right: 1.6rem; }
    .section__top .section__title { font-size: 3.2rem; }
    

    
    .cs__center { height: auto; }
    .cs__center .content { flex-direction: column; padding: 5rem 0; gap: 8rem; }
    .cs__center .content .item { width: 100%; }
    .cs__center .bg { height: 100%; }
    .cs__center .content__title { font-size: 2.5rem; }
    .cs__center .content .qa .content__qa a { padding-right: 2.4rem; }
    
    .swiper__container { width: 80%; padding: 0; }
    .banner__btn .swiper-button-next, .banner__btn .swiper-button-prev { width: 4rem; height: 4rem; }
    .banner__btn { position: static; transform: none; }
    
    footer .footer__top { height: auto; }
    footer .footer__top .btn__flex .top__btn { width: 100%; border-bottom: 1px solid #d8d8d8; }
    footer .footer__top .btn__flex { flex-direction: column; }
    footer .footer__bottom .footer__flex { flex-direction: column; }
    .footer__bottom { padding-top: 4rem; }
    .footer__global .g__flex { flex-direction: column; }
    .footer__global .global__link { margin-top: 1.6rem; }
    .footer__global .global__link a { display: block; width: 100%; margin-bottom: 1.6rem; }
    .footer__bottom .footer__logo { display: none; }
    .footer__bottom .mobile__logo { padding-top: 4rem; }
    .sns__info { padding-top: 3.2rem; }
    .sns__info .icon__wrap { padding: 3.2rem 0; }
  }
}

/* 모바일 최소 사이즈 ~ 태블릿 세로 */
@media all and (min-width: 360px) and (max-width: 767px) {
      // 푸터 영역
      .footer__info p:nth-child(1) {margin-bottom: 3.2rem;}
      .footer__info p:nth-child(2) {border-top: 0.1rem solid #ddd; padding-top: 1.6rem; color: #555555;}

      .main__graph { margin-bottom: 2.8rem; }
      .section__top { flex-direction: column; }
      .section__top .form__select { width: calc(100% - 3.2rem); margin-top: 2.4rem; }


      // 메인 데이터 차트
      .main__echart > div { flex-direction: column; gap: 5rem; }
      .main__echart .table__vertical { width: 100%; }
      .main__echart__wrap {flex-direction: column; gap: 5rem;}
      .main__echart .table colgroup col:nth-child(1){width: 25%;}
      .main__echart .table colgroup col:nth-child(2){width: 20%;}
      .main__echart .table tbody td {white-space: nowrap;}

      // 배너 스와이퍼
      .banner__swiper {margin: 5rem 0;}

}

/* 모바일 최소 사이즈*/
@media all and (max-width: 420px) {
  .mobile__logo { width: 196px; }
  .mobile__logo img { width: 100%; }
  .header__btm .right__icon__set a { padding: 1rem 0.8rem; }
  .top__visual .main__hero .main__text .main__bold { margin-bottom: 0; font-size: 2.4rem; white-space: nowrap; }
  .top__visual .main__hero .main__text .main__medium { font-size: 1.5rem; }
  .top__visual .main__hero .quick__menu .quick__wrap { width: 9rem; height: 9rem; }
  .manual .tip { object-fit: contain; width: 12rem; height: auto; }
  .banner__text { font-size: 1.5rem; }
  .footer__bottom { padding-top: 4rem; }
  .footer__bottom .mobile__logo { margin-top: 4rem; }
}
