// pc 비활성화

.motab-1,
.motab-2 {
  display: none;
}

/* 노트북 소형~ 중형 1080px ~ 1440px */
@media all and (min-width: 1080px) and (max-width: 1440px) {
  .table__horizontal table tbody th th {
    font-size: 1.3rem;
  }

  .table__vertical table tbody td,
  .table__vertical table thead th {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 767px) and (max-width: 880px) {
  .table__vertical .align__cols {
    width: 12.38%;
  }

  .long__th  {
    width: 20%;
  }

  .table__vertical table tbody td,
  .table__vertical table thead th {
    font-size: 1.2rem;
  }

  .table__vertical table tr th:nth-child(1) {
    word-break: keep-all;
    white-space: nowrap;
    padding: 0 0.8rem;
  }

}

/* pc 전환시까지 변환 유지 되어야 하는 영역 */
@media all and (min-width: 767px) and (max-width: 1079px) {
  .table__horizontal table tbody th th {
    font-size: 1.3rem;
  }

  .table__vertical table tbody td,
  .table__vertical table thead th {
    font-size: 1.3rem;
    line-height: 3rem;
  }

  .motab-1 {
    display: none;
  }
}

/* 모바일 가로 & 테블릿 세로 480px ~ 767px */
@media all and (min-width: 480px) and (max-width: 766px) {

  .content .tab__content {padding-top: 4rem;}

  #sub__wrap .content .visual__bg .visual__text {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      margin-bottom: 2rem;
    }
  }

  // 기존 PC용 탭을 안보이게 합니다.
  .content {
    .tab__wrap {
      display: none;
    }
    // 모바일 PC용 탭을 안보이게 합니다.
    .mobile__tab {
      display: block;
    }

    .tab__1 {
      display: none;
    }

    .motab-1,
    .motab-2 {
      display: block;
    }
  }

  .tab__content table {
    font-size: 1.4rem;
  }

  .mo__open__wrap .motab-1 .market .market__info tr th {
    margin-top: 2rem;
  }
}

@media all and (min-width: 551px) and (max-width: 766px) {
  .content .mobile__tab .swiper .swiper-slide {
    max-width: 25%;
  }
}

// 해상도 ~ 550px 까지는 max-width 130px , min-width 551~766까지는 max-width: 25%
@media all and (max-width: 550px) {
  .content .mobile__tab .swiper .swiper-slide {
    max-width: 13rem;
  }
}

/* 모바일 세로 (해상도 ~ 479px) 까지 */
@media all and (max-width: 479px) {

  .content .tab__content {padding-top: 4rem;}


  #sub__wrap .content .visual__bg .visual__text {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      margin-bottom: 2rem;
    }
  }

  .content {
    .tab__wrap {
      display: none;
    }

    .tab__1,
    .tab__2 {
      display: none;
    }

    .mobile__tab {
      display: block;
    }

    .motab-1,
    .motab-2 {
      display: block;
    }
  }
}
