// 메뉴별 권한 관리 아코디언 
.menu-list {
    width: 280px;
}

.menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // padding: 10px 0;
}

.depth-2-first {border-top: 0.3rem solid #16408D;}
.depth-1 {padding: 2.5rem 1rem; border-bottom: 0.1rem solid #ddd;}
.depth-1 .tit {font-size: 1.8rem; font-weight: 600;}
.depth-2 {background-color: #FAFAFB; padding-left: 1rem; padding-right: 1rem; line-height: 4.8rem;}
.depth-3 {padding-left: 1rem; padding-right: 1rem; line-height: 4.8rem;}


/* 초기 상태 안보이게 지정 */
.menu-body {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.tit {padding-left: 10px;}
.tit2 {padding-left: 10px;}
.lnb input[type="checkbox"] {width: 2.6rem; height: 2.6rem; zoom: 1;}