/* 
  폼 CSS
*/


form {width: 100%;}

.search__box {
    height: 5.8rem;
    background-color: #F9F9FA;
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;

    input, select {border: 0.1rem solid #ddd; height: 4rem; line-height: 4rem; font-size: 1.6rem; width: 100%;}
}

.table__horizontal__wrap .note__td .note__input {height: calc(15rem - 2rem);} // 비고

.search--flex {
    display: flex;
    align-items: center;
}

.padding--10 {
    padding-left: 1rem;
}

.flex--box {display: flex; align-items: center;}

.search__select__wrap {width: 15.38%; margin-right: 1rem;}

.auth__select__wrap {
    font-size: 1.6rem;
    margin-left: 2rem;
    width: 33.33%;
}

.select {   width: 80%;
 select {min-width: 10rem; margin-left: 1rem; }
}

input[type="file"]::file-selector-button {
    background-color: #004A98;
    border: 0;
    color: white;
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}


// .search__form {width: 100%;}
// .search__form > form {height: 100%; border: 1px solid pink}
// .form-input {width: 30%; display: inline-flex;}
// .form-title {min-width: 13rem; display: inline-flex; justify-content: space-between; align-items: center; text-align: center;}

// .search__form .form-input, .search__form .form-radio {height: 5.8rem;}

// .search__form .form-title {
//     display: inline-flex; justify-content: center; align-items: center; height: 100%;
//     background-color: #F9F9FA; min-width: 16rem;
// }
// .form-content {border: 1px solid pink; height: 100%; display: flex; align-items: center; }
// .form-content > select {min-height: 4rem; width: 100%;}

.search__form {border-bottom: 0.1rem solid #ddd;}

.form-input, .form-radio {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%; /* 부모의 너비를 100%로 */
    height: 5.8rem;
}

.form-title {
    width: 15.38%; /* 전체 너비의 15.38% */
    min-width: 15.38%; /* 최소 너비를 15.38%로 */
    text-align: center; /* 제목을 왼쪽 정렬 */
    background-color: #F9F9FA;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    flex-grow: 1; /* 남은 공간을 채움 */
    padding: 10px; /* padding 추가 */
    display: flex; /* 내부 요소들을 flex로 정렬 */
    align-items: center; /* 내부 요소들을 세로 중앙 정렬 */
    gap: 10px; /* 내부 요소들 사이의 간격 */
}

.form-content > select {width: 100%; min-height: 4rem;}

.form__head {height: 5.8rem;}
.form__row {border-bottom: 0.1rem solid #ddd;}
.form__row > .form-wrap {height: 5.8rem;}
.form__head > .form-title-file {display: flex; align-items: center; justify-content: center;}
.form__body .form__row input {height: 4rem; border-radius: 0.5rem;}



// 파일 업로드 커스텀

.preview {min-width: 50rem ;height: 4rem; border: 0.1rem solid #ddd; border-radius: 0.5rem;}


// manage__accounting 회계공시 대상년도 폼
.year__form { margin-right: 2rem; font-size: 1.5rem;
    
    input {
        border: 0.1rem solid #ddd;
        height: 4rem;
        line-height: 4rem;
        padding: 0 0.8rem;
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}