/* 
  í¼ CSS
*/



form {width: 100%;}


.search__box {
    height: 5.8rem;
    background-color: #F9F9FA;
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;

    input, select {border: 0.1rem solid #ddd; height: 4rem; line-height: 4rem; font-size: 1.6rem; width: 100%;}
}

.width--100 {
    width: 100%;
}

.search--flex {
    display: flex;
    align-items: center;
}

.padding--10 {
    padding-left: 1rem;
}

.flex--box {display: flex; align-items: center;}

.search__select__wrap {width: 15.38%; margin-right: 1rem;}

.auth__select__wrap {
    font-size: 1.6rem;
    margin-left: 2rem;
    width: 33.33%;
}

.select {   
    width: 80%;
 select {min-width: 10rem; margin-left: 1rem; }
}


.search__form { width: 100%; border: 0.1px solid blue;}
.search__form > form {height: 100%; border: 1px solid pink}
.search__form .form-input, .search__form .form-radio {height: 5.8rem;}
.search__form .form-title {display: flex; justify-content: center; align-items: center;}

