/* 
  폼 CSS
*/


form {width: 100%;}

.search__box {
    height: 5.8rem;
    background-color: #F9F9FA;
    border-top: 0.1rem solid #ddd;
    border-bottom: 0.1rem solid #ddd;

    input, select {border: 0.1rem solid #ddd; height: 4rem; line-height: 4rem; font-size: 1.6rem; width: 100%;}
}

.table__horizontal__wrap .note__td .note__input {height: calc(15rem - 2rem);} // 비고

.search--flex {display: flex;align-items: center;}
.padding--10 {padding-left: 1rem;}
.flex--box {display: flex; align-items: center;}
.search__select__wrap {width: 15.38%; margin-right: 1rem;}
.auth__select__wrap {font-size: 1.6rem;margin-left: 2rem;width: 33.33%;}

.select {width: 80%;
 select {min-width: 10rem; margin-left: 1rem; }
}
.search__form .form-content select {
    position: relative;
    background-color: #fff; /* 배경색을 명확하게 설정 */
    background-image: url(/img/select__renew.png); /* 배경 이미지를 따로 설정 */
    background-position: center right 1rem; /* 이미지 위치 설정 */
    background-repeat: no-repeat; /* 이미지 반복 안 함 */

}

.select__form-arrow {background: url(../img/select__renew.png) no-repeat 93% 50%;}

input[type="file"]::file-selector-button {
    background-color: #004A98;
    border: 0;
    color: white;
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}


.upload__file__name {font-size: 1.6rem; color: #8E8E8E; padding-left: 1rem;}



.search__form {border-bottom: 0.1rem solid #ddd; background-color: #F9F9FA;}

.form-input, .form-radio {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%; /* 부모의 너비를 100%로 */
    height: 5.8rem;
}

.form__head .form-title {
    min-width: 20.4rem;
    // width: 15.38%;
    background-color: #F9F9FA;
}

.form-title {
    // width: 15.38%; /* 전체 너비의 15.38% */
    // min-width: 15.38%; /* 최소 너비를 15.38%로 */
    text-align: center; /* 제목을 왼쪽 정렬 */
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    flex-grow: 1; /* 남은 공간을 채움 */
    padding: 10px; /* padding 추가 */
    display: flex; /* 내부 요소들을 flex로 정렬 */
    align-items: center; /* 내부 요소들을 세로 중앙 정렬 */
    gap: 10px; /* 내부 요소들 사이의 간격 */
}

.form-content > select {width: 100%; min-height: 4rem; background-color: #fff;}
.form-content > input[type="text"] {width: 100%; min-height: 4rem; background-color: #fff;}

.form__head {height: 5.8rem; }
.form__head .form-title:nth-of-type(1) {width: 15.38%;}
.form__row {border-bottom: 0.1rem solid #ddd;}
.form__row > .form-wrap {height: 5.8rem;}
.form__head > .form-title-file {display: flex; align-items: center; justify-content: center;}
.form__body .form__row input {height: 4rem; border-radius: 0.5rem;}


// .upload__manager .form__row .td__container:nth-of-type(1) {max-width: 20rem;}

// 파일 업로드 커스텀
.preview {min-width: 50rem ;height: 4rem; border: 0.1rem solid #ddd; border-radius: 0.5rem;}
// manage__accounting 회계공시 대상년도 폼
.year__form { margin-right: 2rem; font-size: 1.5rem;
    
    input {
        border: 0.1rem solid #ddd;
        height: 4rem;
        line-height: 4rem;
        padding: 0 0.8rem;
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}



// 모달용 검색 폼 
.search__form-2 .form-title {background-color : #F9F9FA; min-width: 16rem; height: 5.8rem;}
.search__form-2 .form-desc {flex-grow: 1; padding: 0 1rem;}

.btn__file__select--mo {display: none;position: absolute; top: 50%; transform: translateY(-50%); right: 1.6rem; width: 2.4rem; height: 2.4rem; background: url(../../img/file__select--mo.svg) no-repeat center; background-size: cover;}
