/*
    기타 컴포넌트 CSS
*/




// 메뉴 계층
.tree{font-size:1.5rem;color:#000; width: 29rem;}
.tree_tit {font-size: 2rem;}
.tree_tit span {padding: 0 1rem;}
.tree ul,.tree li,.tree span{margin:0;padding:0}
.tree li{list-style:none}
.tree li a:hover{color :#0c3975;}
.tree .tree_label{margin-left:0.3rem;vertical-align:top;text-decoration:none; display: inline-block;} 
.tree .tree_label a{display:inline-block; margin:-0.1rem 0 0 0.1rem;padding-left:1rem;font-size:1.5rem;color:#aaa;letter-spacing:-0.1rem;vertical-align:top;}
.tree .tree_label span{padding: 0 1rem;}
.tree ul{background:url(../img/bg_tree_stream.svg) repeat-y 0.9rem 0; padding-top: 2rem;}
.tree li{padding-left:2.8rem;background:url(../img/bg_tree_branch.svg) no-repeat 0.9rem -1.25rem;}
.tree li.tree_last_node{margin-bottom:0.4rem;background:url(../img/bg_tree_branch_last.svg) no-repeat 0.9rem -1rem;}
.depth__1__tree a {font-size: 1.6rem; line-height: 4rem; font-weight: 600;}
.depth__2__tree a {font-size: 1.5rem; line-height: 3.6rem; font-weight: 500;}



// 파일 아이콘
.file__icon {
    display: inline-block;
    width: 2rem;
    height: 2.4rem;
    background-size: cover;
    background: url(../../img/file__icon.svg) no-repeat center;
}


// 브레드 크럼브
.breadcrumb {display: flex; align-items: center; font-size: 1.5rem; font-weight: 700; padding-left: 2.4rem;}
.breadcrumb .path .home > a {position: relative;}
.breadcrumb .path .home > a::before {content: ""; display : inline-block; width: 2.4rem; height: 2.4rem; background: url(../img/Base-Breadcrumb.svg) no-repeat center;position: absolute; top: 50%; right: 1.2rem; transform: translateY(-50%);}
.breadcrumb .path > li {display: inline; position: relative;}
.breadcrumb .path > li > a {padding-bottom: 0.1rem; position: relative;}
.breadcrumb .path > li > a::after {content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 0.1rem; background-color: #000;}
.breadcrumb .path > li + li::before {content: ""; display: inline-block;vertical-align: middle;width: 2rem;height: 2rem;background: url(../img/arrow__right-bk.svg) no-repeat center; margin: 0 0.4rem;}