/* 
  테이블 CSS
*/


// 테이블 공통 스타일
table th {font-weight: 700; background-color: #EAF5F0;}
// table td {font-weight: 700;}
// table thead th {font-weight: 700;}
table caption {position: absolute; top: 0; left: 0; overflow: hidden; width: 0.1rem; height: 0.1rem; clip: rect(0, 0, 0, 0); margin: -0.1rem;}

// 세로 테이블 공통 스타일 thead 제목이 있는 테이블의 스타일입니다.

.table__vertical table thead tr th {border-right: 0.1rem solid #ddd; text-align: center; vertical-align: middle; white-space: normal; word-wrap: break-word; word-break:keep-all} 
.table__vertical tr {border-bottom: 0.1rem solid #ddd;} 
.table__vertical thead .min__h__box {padding: 0}
.table__vertical tr th:nth-child(1) {word-break: keep-all; white-space: nowrap;}  // 제목에 있는 th들은 단어들을 기준으로 줄바꿈.
.table__vertical thead tr th:nth-last-child(1) {border-right: 0;} 
.table__vertical tbody td, .table__vertical tbody th {  min-height: 6rem; border-right: 0.1rem solid #ddd;   }
.table__vertical tbody th {vertical-align: middle;} 
.table__vertical tbody td {vertical-align: middle; }  
.table__vertical tbody td:nth-last-child(1) {border-right:0;} 


// 가로 테이블 공통 스타일
.table__horizontal { height: 5.8rem; border-top: 0.2rem solid #333; }
.table__horizontal table { height: 100%; }
.table__horizontal tbody th { text-align: left; padding: 0 1.5rem; line-height: 4.5rem; }
.table__horizontal td { padding: 0 1rem; }
.table__horizontal td select { width: 100%; height: 4rem; border: 0.1rem solid #ccc; padding: 0.8rem; }
.table__horizontal td input[type="text"] { border: 0.1rem solid #ccc; height: 4rem;}

// thead를 가지고 있지 않은 가로 테이블 
// .table__horizontal__ex tr:first-child {border-top: 0.2rem solid #000;} 
// .table__horizontal__ex tr {line-height: 5.8rem; height: 5.8rem; border-bottom: 0.1rem solid #ddd; width: 100%; display: flex; align-items: center;} 
.table__horizontal__ex tr {min-height: 5.8rem; border-bottom: 0.1rem solid #ddd; width: 100%; display: flex; align-items: stretch;} 
.table__horizontal__ex th {width: 19.53%; text-align: left; padding-left: 3rem; z-index: -1; min-width: 18rem; display: inline-flex; align-items: center;} 
// .table__horizontal__ex td {width: auto; flex-grow: 1; display: inline-flex; align-items: center;} 
.table__horizontal__ex td {width: auto; flex-grow: 1; display: block;} 

.table__horizontal__ex input[type="text"] {border: 0.1rem solid #ddd; height: 4rem;  width: 100%; font-size: 1.6rem;}
.table__horizontal__ex .td__container select {width: 100%;}
.table__horizontal__ex .wide__first td:nth-of-type(1) .td__container {min-width: 42rem; flex-grow: 0;}
// .table__horizontal__ex .wide__first td:nth-of-type(2) .td__container {flex-wrap: nowrap;}
.table__horizontal__ex .find--width td {width: calc(100% - 15.38%);} 
.table__horizontal__ex .input-3--flex {display: flex; gap: 1rem; width: 100%;} 
.table__horizontal__ex .input-3--flex input {flex: 1;}

// 사용자 공통 테이블 타이틀
.table__title__wrap {margin-bottom: 6.4rem; margin-top: 6.4rem;}
.table__title__wrap .data__number {margin-top: 6.4rem;}
.table__title {font-size: 2.5rem; font-weight: 700;}


// manage__labor 다중 셀렉터 및 인풋 조정 영역
.td__container {display: flex; flex-wrap: wrap; gap: 1rem; padding: 1rem;}
.td__container select {flex: 1 1 calc(33.33% - 1rem); min-width: 100px;} // flex-grow , flex-shirink, flex-basis 1. 남는 공간 균등 차지, 2. 공간 부족 시 다른 flex아이템과 함께 크기 줄임. 3. 기본 크기는 33.33%
.td__container input[type="text"] {flex: 1 1 calc(33.33% - 1rem)} 


// 달력 input의 아이콘 정렬
.calender__body {position: relative;}
.calender__body .calender__icon {position: absolute; top: 50%; transform: translateY(-50%); width: 2.4rem; height: 2.4rem; right: 1rem; background: url(../img/calendar-days-regular--mo.svg) no-repeat center; }


// row와 col 제목이 함께 있는 테이블 전용 스타일
// .table__vertical .cross__table > tbody th {background-color : #EAF5F0}



.table__template__radio tr {display: flex; border-bottom: 0.1rem solid #ddd;} 
.table__template__radio th {line-height: 100%; padding-left: 3rem; display: flex; align-items: center; justify-content: left; background-color: #F9F9FA; font-weight: 700;} 
// .table__template__radio td {border-bottom: 1px solid #ddd;}

.table__template__radio .radio__wrap input[type="radio"] {appearance: none; width: 2.6rem; height: 2.6rem; border-radius: 50%; margin-right: 0.7rem; border: 1px solid #ccc;} 
.table__template__radio .radio__wrap input[type="radio"]:checked {border: 0.6rem solid #000;} 
.table__template__radio .radio__wrap .flex {padding-left: 1rem;}

.search__work .seach__work-table {
    .main__th {width: 15.38%;}
    .sub__th {width: 34.62%;}
}


// 체크 박스
.radio__table th {width: 12.5%; line-height: 5.8rem;}
.radio__table td {width: calc(100% - 12.5%);}
.radio__table tr {line-height: 5.8rem;}
.radio__table .flex {display: flex; align-items: center;}
.radio__table .flex label:not(:last-child) {margin-right: 2rem;}


.table__horizontal__wrap th {background-color: #EAF5F0; vertical-align: middle;}
.table__horizontal__wrap tr {border-bottom: 0.1rem solid #ddd;}
.table__horizontal__wrap .note__td {line-height: 15rem;}
.table__horizontal__wrap .note__td-txt-area {height: 100%;}
.table__horizontal__wrap input[type="text"] {height: 4rem;}
.table__horizontal__wrap select {height: 4rem;}
.table--margin {margin: 0.9rem 1rem}

.table__template__horizontal tr {display: flex;} 
.table__template__horizontal th {line-height: 100%; padding-left: 3rem; display: flex; align-items: center; justify-content: left;} 


.table__template__horizontal .default__table tr {line-height: 5.8rem;} 
.table__template__horizontal .default__table th, .table__template__horizontal .default__table td {border-bottom: 1px solid #ddd;} 
.table__template__horizontal .default__table th {width: auto;} 
.table__template__horizontal .default__table td {width: auto;}

// 모달 테이블 스타일
.modal__error__table table tr th:nth-child(1) {width: 15.38%;}
.modal__result .modal__error__table tr {min-height: 5.8rem;}
.modal__error__table table tbody th, .modal__error__table table tbody td {vertical-align: middle;}
.modal__error__table table tbody tr td {text-align: left; padding-left: 0.8rem;}
.modal__error__table .error__desc {padding: 8px 0;}
.modal__result .modal__error__table tbody tr td {line-height: 150%;}


.ac__manage__ment__wrap .table__vertical table tbody tr th:nth-child(1) {background-color: transparent;}
// manageuser__ 메인 테이블
.manage__user__table {border-top: 0.2rem solid #000;} 
.manage__user__table tr {line-height: 5.8rem; height: 5.8rem; border-bottom: 0.1rem solid #ddd; width: 100%; display: flex; align-items: center;} 
.manage__user__table .height--auto {height: auto; }
.manage__user__table th {width: 11.72%; background-color: #f8f8f8; text-align: left; padding-left: rem; z-index: -1; height: 100%;} 
.manage__user__table td {width: auto;} 
.manage__user__table td input[type="text"] {border: 0.1rem solid #ddd;}
.table__information .first__td {width: 20.31%;}
.table__information .second__td {width: 21.88%}






.border-right {border-right: 0.1rem solid #ddd!important;}

// 표 호버 배경색상 지정 영역입니다.
// 기존 관리자 색상

// .table__vertical tbody tr:hover {background-color: #D0DBE7!important;} 
.border__input__wrap .table__vertical tbody tr:hover {background-color: transparent!important;}

// 표 칸 형식
// 관리자 메뉴 권한 관리 표 영역입니다.
.auth__table thead tr th {height: 6rem; background-color: #f8f8f8; line-height: 6rem; text-align: center; vertical-align: middle;}
.auth__table tr {border-bottom: 0.1rem solid #ddd; border-left: 0.1rem solid #ddd; border-right: 0.1rem solid #ddd;}
.auth__table tbody tr td > a {display: block;width: 100%; height: 100%;}
.auth__table tbody tr td > a:hover {color: $second-color;}


// thead를 포함하고 있는 가로형 테이블 (manage user)
.table__horizontal__wrap.with__thead thead tr th {line-height: 5.8rem;}
.table__information input[type="text"]{border: 0; width: 100%;}



// checkbox__container == report
// manage__report 조회 모달 체크 박스 
.checkbox__container-margin label {padding-left: 1rem;}
.checkbox__container-margin label:not(:last-child) {padding-right: 1rem;}


// 관리자 페이지의 표 경우, 가로 값이 더 커질 시 table을 감싸는 부모에 스크롤을 줍니다.
.manage__wrap .table__vertical {overflow-x: auto;}
.manage__wrap .table__vertical colgroup col {min-width: 5rem;}

// 읽기 전용 input(테두리 없애기) 
.read__info__table input[type="text"] {border: 0; font-weight: 700;}
.table__vertical:not(.infoTable) tbody tr:hover {background-color: #DDEAF6!important;} 

// 모바일용 테이블
.m__table {display: none;}
.table__horizontal__mo table {font-size: 1.9rem;}
.table__horizontal__mo table th {background: transparent;}
.table__horizontal__mo tr {border-bottom: 0.1rem solid #ddd;}
.table__horizontal__mo td {display: block;}
.table__horizontal__mo tr td:not(:first-child):not(:last-child){padding-bottom: 1rem;}
.table__horizontal__mo tr td:first-child {padding-top: 2rem; padding-bottom: 2rem;}
.table__horizontal__mo tr td:last-child {padding-bottom: 3rem;}
 .attachment__mo {display: inline-block;  width: 1.6rem; height: 1.6rem; background: url(../../img/file__select--mo.svg) no-repeat center; background-size: cover; }

.table__horizontal__mo:not(.widthAutoTable) .sub__title {width: 19.44%; min-width: 7rem; display: inline-block;}
.table__horizontal__mo .sub__title {font-weight: 700;}
.accn__open__wrap .table__horizontal__mo .title {font-size: 1.9rem;}
.accn__open__wrap .table__horizontal__mo .sub__title {min-width: 12rem;}
.union__management__wrap .table__horizontal__mo .sub__title {display: inline-block;width: 50%;}



// 조회결과 테이블 공통

// td의 min-height 적용 이슈로 다음과 같이 적용
.min__h__box { display: flex; align-items: center; min-height: 6rem; padding: 0 1rem;}
.text--r {justify-content: flex-end;}
.text--l {justify-content: flex-start;}
.text--c {justify-content: center;}

