/* 
  테이블 CSS
*/


// 사용자 공통 테이블 타이틀
.table__title__wrap {margin-bottom: 3.6rem; margin-top: 8rem;}
.table__title {font-size: 2.5rem; font-weight: 700;}


// manage__labor 다중 셀렉터 및 인풋 조정 영역
.td__container {display: flex; flex-wrap: wrap; gap: 1rem; padding: 1rem;}
.td__container select {flex: 1 1 calc(33.33% - 1rem); min-width: 100px;} // flex-grow , flex-shirink, flex-basis 1. 남는 공간 균등 차지, 2. 공간 부족 시 다른 flex아이템과 함께 크기 줄임. 3. 기본 크기는 33.33%
.td__container input[type="text"] {flex: 1 1 calc(33.33% - 1rem)} 



table caption {position: absolute; top: 0; left: 0; overflow: hidden; width: 0.1rem; height: 0.1rem; clip: rect(0, 0, 0, 0); margin: -0.1rem;}
  

// thead를 가지고 있지 않은 가로 테이블 
.table__horizontal__ex tr:first-child {border-top: 0.2rem solid #000;} 
.table__horizontal__ex tr {line-height: 5.8rem; height: 5.8rem; border-bottom: 0.1rem solid #ddd; width: 100%; display: flex; align-items: center;} 
.table__horizontal__ex th {width: 19.53%; background-color: #f8f8f8; text-align: left; padding-left: 3rem; z-index: -1; min-width: 18rem;} 
.table__horizontal__ex td {width: auto; flex-grow: 1;} 
.table__horizontal__ex input[type="text"] {border: 0.1rem solid #ddd; height: 4rem;  width: 100%; font-size: 1.6rem;}

// .table__horizontal__ex tr.r2 td {width: calc((100% - (15.38% * 2)) / 2);} 
.table__horizontal__ex .find--width td {width: calc(100% - 15.38%);} 
.table__horizontal__ex .input-3--flex {display: flex; gap: 1rem; width: 100%;} 
.table__horizontal__ex .input-3--flex input {flex: 1;}

.table__template__radio tr {display: flex; border-bottom: 0.1rem solid #ddd;} 
.table__template__radio th {line-height: 100%; padding-left: 3rem; display: flex; align-items: center; justify-content: left; background-color: #F9F9FA; font-weight: 500;} 
// .table__template__radio td {border-bottom: 1px solid #ddd;}

.table__template__radio .radio__wrap input[type="radio"] {appearance: none; width: 2.6rem; height: 2.6rem; border-radius: 50%; margin-right: 0.7rem; border: 1px solid #ccc;} 
.table__template__radio .radio__wrap input[type="radio"]:checked {border: 0.6rem solid #000;} 
.table__template__radio .radio__wrap .flex {padding-left: 1rem;}

.search__work .seach__work-table {
    .main__th {width: 15.38%;}
    .sub__th {width: 34.62%;}
}


td {min-height: 5.8rem;}
  
.radio__table th {width: 12.5%; line-height: 5.8rem;}
.radio__table td {width: calc(100% - 12.5%);}
.radio__table tr {line-height: 5.8rem;}



.radio__table .flex {display: flex; align-items: center;}

.radio__table .flex label:not(:last-child) {margin-right: 2rem;}


.table__horizontal__wrap th {background-color: #F9F9FA; vertical-align: middle;}
.table__horizontal__wrap tr {border-bottom: 0.1rem solid #ddd;}

// .table__horizontal__wrap td input[type="text"],.table__horizontal__wrap td select {margin: 0.9rem 1rem;}
.table__horizontal__wrap .note__td {line-height: 15rem;}
.table__horizontal__wrap .note__td-txt-area {height: 100%;}
.table__horizontal__wrap input[type="text"] {height: 4rem;}
.table__horizontal__wrap select {height: 4rem;}


.table--margin {margin: 0.9rem 1rem}

.table__template__horizontal table {width: 100%; font-size: 1.5rem;} 
.table__template__horizontal tr {display: flex;} 
.table__template__horizontal th {line-height: 100%; padding-left: 3rem; display: flex; align-items: center; justify-content: left; background-color: #F9F9FA; font-weight: 500;} 
// .table__template__horizontal td {border-bottom: 1px solid #ddd;} 
.table__template__horizontal .default__table tr {line-height: 5.8rem;} 
.table__template__horizontal .default__table th, 
.table__template__horizontal .default__table td {border-bottom: 1px solid #ddd;} 
.table__template__horizontal .default__table th {width: auto;} 
.table__template__horizontal .default__table td {width: auto;}


.modal__error__table table tr th:nth-child(1) {width: 15.38%;}
.modal__result .modal__error__table tr {min-height: 5.8rem;}
.modal__error__table table tbody th, .modal__error__table table tbody td {vertical-align: middle;}
.modal__error__table table tbody tr td {text-align: left; padding-left: 0.8rem;}
.modal__error__table .error__desc {padding: 8px 0;}
.modal__result .modal__error__table tbody tr td {line-height: 150%;}





// ac__manage__ment__wrap 
.ac__manage__ment__wrap .table__vertical table tbody tr th:nth-child(1) {background-color: transparent;}



// manageuser__ 메인 테이블

.manage__user__table {border-top: 0.2rem solid #000;} 
.manage__user__table tr {line-height: 5.8rem; height: 5.8rem; border-bottom: 0.1rem solid #ddd; width: 100%; display: flex; align-items: center;} 
.manage__user__table .height--auto {height: auto; }
.manage__user__table th {width: 11.72%; background-color: #f8f8f8; text-align: left; padding-left: rem; z-index: -1; height: 100%;} 
.manage__user__table td {width: auto;} 
.manage__user__table td input[type="text"] {border: 0.1rem solid #ddd;}
// .manage__user__table tr.r2 td {width: calc((100% - (15.38% * 2)) / 2);}






.table__information .first__td {width: 20.31%;}
.table__information .second__td {width: 21.88%}



// 상단 thead 제목이 있는 테이블의 스타일입니다.

.table__vertical table thead tr th {font-weight: 500; height: 6rem; background-color: #f8f8f8; line-height: 6rem; border-right: 0.1rem solid #ddd; text-align: center; vertical-align: middle;} 
.table__vertical tr {border-bottom: 0.1rem solid #ddd;} 
.table__vertical tr th:nth-child(1) {font-weight: 500; word-break: keep-all; white-space: nowrap;} 
.table__vertical thead tr th:nth-last-child(1) {border-right: 0;} 

.table__vertical tbody td, .table__vertical tbody th {height: 100%; 
  // line-height: 6rem;
    height: 6rem;
   border-right: 0.1rem solid #ddd;} 
.table__vertical tbody th {background-color: #f8f8f8; vertical-align: middle;} 
.table__vertical tbody td {padding-left:1rem; padding-right: 1rem; vertical-align: middle;} 
.table__vertical tbody td:nth-last-child(1) {border-right: 0;} 


.border-right {border-right: 0.1rem solid #ddd!important;}

// 표 호버 배경색상 지정 영역입니다.
.table__vertical tbody tr:hover {background-color: #DDEAF6!important;} 
.border__input__wrap .table__vertical tbody tr:hover {background-color: transparent!important;}



// 표 칸 형식


// 관리자 메뉴 권한 관리 표 영역입니다.
.auth__table thead tr th {font-weight: 500; height: 6rem; background-color: #f8f8f8; line-height: 6rem; text-align: center; vertical-align: middle;}
.auth__table tr {border-bottom: 0.1rem solid #ddd; border-left: 0.1rem solid #ddd; border-right: 0.1rem solid #ddd;}
.auth__table tbody tr td > a {display: block;width: 100%; height: 100%;}
.auth__table tbody tr td > a:hover {color: $second-color;}


// thead를 포함하고 있는 가로형 테이블 (manage user)
.table__horizontal__wrap.with__thead thead tr th {line-height: 5.8rem;}

.table__information input[type="text"]{border: 0; width: 100%;}
.table__information input[type="text"]{font-size: 1.5rem;}


// checkbox__container == report
// manage__report 조회 모달 체크 박스 
.checkbox__container-margin label {padding-left: 1rem;}
.checkbox__container-margin label:not(:last-child) {padding-right: 1rem;}




// 관리자 페이지의 표 경우, 가로 값이 더 커질 시 table을 감싸는 부모에 스크롤을 줍니다.
.manage__wrap .table__vertical {overflow-x: auto;}
.manage__wrap .table__vertical table {min-width: 96rem;}
.manage__wrap .table__vertical colgroup col {min-width: 5rem;}


// read__info__table은 등록 페이지가 아니므로 border을 없앱니다.
.read__info__table input[type="text"] {border: 0;}