 /* 로그인 페이지에서만 적용되는 스타일 */

        // 로그인 페이지 html 에 class login__page 할당
        .login__page {
            body {position: relative; 
                // height: 100vh;
            }
            .wrap {display: flex; flex-direction: column; }
            // .header {flex: 0 0 auto}
            #login__body {overflow: auto; font-size: 1.5rem; padding-top: 12.8rem; padding-bottom: 8rem;} // flex: 1 0 auto; 
            // footer {flex: 0 0 auto; margin-top: auto;}

            #login__body input[type="text"], #login__body input[type="password"] {height: 5.8rem;}
            #login__body input::placeholder {font-size: 1.9rem;}
            #login__body {display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #fff;} 
            #login__body .login__block {width: 100%; max-width: 480px; margin-bottom: 8rem;}
            #login__body .login__block .title {text-align: center; font-size: 3.2rem;}
            #login__body .login__block .desc {text-align: center; font-size: 1.8rem; color: #555555;}
            #login__body .login__block > div {background-color: #fff; margin-top: 3rem;}
            // #login__body .login__block > div > div {padding: 3rem 4rem;}
            #login__body .login__block > div > div > button { color: #fff; height: 5.2rem; font-size: 1.8rem; font-weight: 500; width: 100%; margin: 2.4rem 0 2.4rem 0; border-radius: 0.8rem;}
           
            #login__body .login__block .login__input:nth-of-type(1) {padding-bottom: 2.4rem;}
            #login__body .login__block .login__input:nth-of-type(2) {padding-bottom: 1.2rem;}
            #login__body .login__block .login__input label {padding-bottom: 1.2rem;}
            #login__body .save__info {display: flex; align-items: center; padding-top: 2.4rem;}
            #login__body .save__info input[type="checkbox"] {margin-right: 0.8rem;}
            #login__body .login__help a:not(:last-child)::after {content: ""; width: 1px; height: 12px; background: #ddd; margin: 0 7px 0 13px;display: inline-block;}

            .helper__box { width: 100%; padding: 2.4rem; background-color: $theme-krds-skyblue-00; border: 1px solid #E4E4E4; border-radius: 1.2rem; font-size: 1.7rem; }
            .helper__box .helper__tit {display: flex; position: relative; color: $theme-krds-navy-00; font-weight: 700;}
            .helper__box .helper__tit::before {margin-right: 0.4rem; content: ""; width: 2rem; height: 2rem; margin-top: 0.2rem; background-image: url(../../img/icon__helper__info.svg);background-size: contain;}
            .helper__box .helper__desc__wrap .info-list {list-style: disc;}
            .helper__box .helper__desc__wrap .info-list > li:not(:last-child) {margin-bottom: 1.6rem;}
            .helper__box .helper__desc__wrap {margin-top: 1.6rem; margin-left: 4.8rem; color: #555555;}

            #login__body .secret__Check .icon__pw-visible {right: 1.6rem;}
        }


       // .secret__Check input[type="password"],  .secret__Check input[type="text"]{position: relative; border: 1px solid blue;}


       .secret__Check {position: relative;}
       .secret__Check .icon__pw-visible {position: absolute; top: 50%; background: none; border: none; cursor: pointer; padding: 0; max-height: 2.4rem;}
       .show__icon {width: 2.4rem; height: 2.4rem;}