/*
    메인 페이지 스타일 CSS
*/


.top__visual {
    width: 100%;
    color: #fff;
    font-size: 1rem;

    .main__hero {
        width: 100%;
        height: 45rem;
        background: url(../img/main__hero.jpg) no-repeat center;
        background-size: cover;
        position: relative;

        .black__bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2);}


        .inner {
            position: relative;
            z-index: 1;
        }

        .main__text {
            position: absolute;
            top: 9.7rem;
            left: 0;

            .main__bold {
                font-size: 4rem;
                line-height: 150%;
                margin-bottom: 3.2rem;
            }

            .main__medium {
                font-size: 1.7rem;
                line-height: 180%;
            }
        }

        .quick__menu {
            position: absolute;
            right: 0;
            top: 12.8rem;
            display: flex;

            .quick__wrap {
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
                border: 0.2rem solid #DBDBDB;
                background-color: #373737;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 4.8rem;
                cursor: pointer;

                &:nth-last-child(1) {
                    margin-right: 0;
                }

                span {
                    font-size: 1.5rem;
                    padding-top: 1.6rem;
                    color: #fff;
                    line-height: 120%;
                }
            }
        }
    }
}

.manual {
    position: relative;

    .tip {
        position: absolute;
        top: -6rem;
    }
}

.count__group {
    position: relative;
    z-index: 2;
    top: -8.6rem;

    .inner {
        display: flex;
        justify-content: space-between;
    }

    .count {
        width: 40.5rem;
        // height: 18rem;
        padding: 3.3rem 0;
        max-height: 18rem;
        background-color: #fff;
        box-shadow: 0px 0.4rem 1.5rem rgba(0, 0, 0, 0.1);
        border-radius: 3.2rem;
  

        > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .subc {
            font-size: 3rem;
            font-weight: 700;
            color: #000;
            text-align: center;
            
            &::before{content: ''; width: 6rem; height: 6rem; display: block; margin: 0px auto; margin-bottom: 3.2rem;}
        }
        
        // .subc.open::before {background: url(../../img/icons__open.png) no-repeat center;}
        .subc.open::before {background: url(../img/icons__open.png) no-repeat center;}
        .subc.write::before {background: url(../img/icons__write.png) no-repeat center;}
        .subc.manual::before {background: url(../img/icons__manual.png) no-repeat center;}

    }
}






.main__graph {margin-bottom: 12.8rem;}


// 메인 차트 영역
.main__echart .chartBox {background: #FFF; height: 40rem; border-top: 1px solid #E5E5E5; border-radius: 2.4rem; padding: 3rem 3.5rem 0 3.5rem; box-shadow: 0rem 0rem 2rem 0 rgba(0, 0, 0, 0.1);}
.main__echart > div {display: flex; justify-content: space-between; align-items: center; gap: 4rem;}
.main__echart .chartBox .title {margin-bottom: 3.2rem;}
.main__echart .chartBox .echart {width: 100%; height: 18.8rem;}
.main__echart .table__vertical {width: 44%; font-size: 1.5rem;}
.main__echart .table__vertical table {table-layout: fixed;}
.main__echart .data .unit {color: #767676; font-size: 1.3rem; margin-left: 0.4rem;}
.main__echart .data > h2 {font-size: 1.7rem; color: #767676;}
.main__echart .chart1, .chart2 { width: 320px;}
.chartBox .container { display: flex; justify-content: center; align-items: center;}
.chartBox .title {font-size: 2.5rem;}
.data--bold {color: #000; font-size: 1.7rem; font-weight: bold;}

#tableList tbody tr.on {background-color:  $theme-krds-skyblue-00;}
.chartData__wrap {display: flex; padding-top: 3rem;}
.chartData__wrap .data {text-align: center; width: 50%;}





.table>#tableList {
    min-height: 40rem;
    max-height: 40rem;
}

.main__echart .table tbody td { height: 6.5rem; text-overflow: ellipsis; overflow: hidden; }// white-space: nowrap; min-width: 5rem;
.main__echart .table tbody td :nth-child(1) {min-width: 10rem;}
.main__echart .table tbody td :nth-child(2) {min-width: 8rem;}
.main__echart .table colgroup col:nth-child(1){width: 30%;}
.main__echart .table colgroup col:nth-child(2){width: 25%;}
.main__echart__wrap {display: flex; justify-content: space-between; gap: 3.2rem;}



// #tableList td {
//     white-space: nowrap;    /* Prevents text from wrapping to the next line */
//     overflow: hidden;       /* Hides any overflow content */
//     text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text when it overflows */
//     min-width: 50px;        /* Optional: sets a minimum width for each column */
// }

// /* Optional: Specify different min-width for specific columns */
// #tableList td:nth-child(1) {
//     min-width: 100px; /* Adjust the value based on how much space you want to allocate */
// }

// #tableList td:nth-child(2) {
//     min-width: 80px;  /* Adjust as needed */
// }





.main__echart .table th {
    height: 6.5rem;
}
