// 관리자 새 페이지 기존 CSS 적용을 위한 scss 



// 관리자 페이지 스타일 전용
.manage__wrap .manage__default__style button, .manage__wrap .manage__default__style .preview, .manage__default__style input{border-radius: 0;} 
.manage__default__style input {height: 4rem; font-size: 1.5rem;}
.manage__default__style .btn__file__select {border-radius: 0;}
.manage__default__style .system-list .depth-1 {padding: 1.5rem 1rem;}
.manage__default__style label {line-height: 150%;}
.manage__default__style .menu-head.depth-3, .menu-head.depth-4, .menu-head.depth-5, .menu-head.depth-6 {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.manage__default__style input[type=radio] { width: 2rem; height: 2rem; transition: all 0.3s ease-in-out; appearance: none; border: 0.1rem solid #666; border-radius: 50%;}
.manage__default__style input[type=radio]:checked {background: #333; position: relative; border: 0.3rem solid #efefef; box-shadow: 0 0 0 0.1rem #333;}

.manage__default__style .data__modal__wrap .data__modal .modal__close button {border-radius: 0;    
     height: 4rem;
    min-width: 8.6rem;
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    border-radius: 0;
    padding: 0;
    line-height: 4rem;
    font-weight: 400;
    background-color: #004a98;
}



// 관리자 페이지 네이션
.manage__default__style .pagination > a.active, .pagination > a:hover { background: #004a98; color: #fff; border-radius: 0;}
    .manage__default__style .check__result .pagination {padding-top: 4rem; text-align: center; margin-bottom: 0;}
    .manage__default__style .pagination > a {    display: inline-block;
    width: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    height: 3.5rem;
    background: #f8f8f8;
    border-radius: 3px;
    color: #707070;
    vertical-align: top;
    }
.manage__default__style .pagination > a:not(:first-child),   .manage__default__style .pagination > a:not(:last-child){margin-right: 0.3rem;}
.manage__default__style .pagination > a.step {background: none;}
.manage__default__style  .pagination > a.step.first:after, .manage__default__style .pagination > a.step.last:after {
margin-left: -2px;
}
.manage__default__style .pagination > a.step.next:after, .manage__default__style .pagination > a.step.last:after, .manage__default__style .pagination > a.step.last:before {
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.manage__default__style .pagination > a.step:after, .pagination > a.step.first:before, .pagination > a.step.last:before {
content: "";
display: inline-block;
width: 6px;
height: 6px;
border-top: 2px solid #BFBFBF;
border-right: 2px solid #BFBFBF;
border-radius: 1px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
margin-bottom: 4px;
}



// 관리자 페이지 배경 이미지
.manage__wrap .manage__default__style .visual__bg {height: 16rem; background: url(../img/manage__bg_sub1_2.png) no-repeat center; background-size: cover;}
.manage__wrap .manage__default__style .visual__bg .visual__text h2 {margin-bottom: 1.5rem;}


// 관리자 전용 기존 색상 클래스
.bg--manage--blue--00 {background: #004A98;}  
.bg--manage--gray--00 {background: #555555;}  
.bg--manage--black--00 {background: #191919;}  
.bg--manage--red--00 {background-color: #B9131E;}
.bg--manage--green--00 {background-color: #008A1E;}


.manage__default__style .function__group .btn__control {height: 4rem; min-width: 8.6rem; font-size: 1.5rem; color: #fff; display: inline-block; border-radius: 0; font-weight: 400;}
.manage__default__style .search__form {background: #e5edf4;}
.manage__default__style .search__form .manage__select {position: relative;}

.manage__default__style .search__form .manage__select > select  {position: absolute; width: 100%; left: 0; top: 0; height: 4rem; font-size: 1.5rem;}
.manage__default__style .search__form .manage__select::before {content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #1f1f1f;
    border-right: 2px solid #1f1f1f;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8px;
    z-index: 55;
}


// 조회 모달 
// .manage__default__style {position: relative;}
// .manage__default__style .manage__report__modal {display: none; border: 1px solid #ddd; position: fixed; top: 10%; max-width: 128rem; z-index: 1200; background: #fff;}
.manage__default__style .manage__report__modal .modal__inner {padding: 0 4rem; position: relative;}
.manage__default__style .manage__report__modal .table__horizontal__wrap td {min-height: 3.5rem;}
.manage__default__style .manage__report__modal .table__horizontal__wrap input, .manage__default__style .manage__report__modal .table__horizontal__wrap select {min-height: 3.5rem; height: 3.5rem; border-radius: 0;}
.manage__default__style  .td__container {padding: 0.5rem;}
.manage__default__style .manage__report__modal .table__horizontal__wrap th {text-align: left; padding-left: 1.5rem; background-color: #F9F9FA;}
.manage__default__style .modal__check button {background-color: #004A98; height: 4rem; min-width: 8.6rem; font-size: 1.5rem; color: #fff; display: inline-block; border-radius: 0; font-weight: 400;}
.manage__default__style .modal__check {right: 4rem;}
.manage__default__style .modal__check button.bg--manage--black--00 {background: #191919;}


// 관리자 전용 제목
.manage__default__style .search__form select {border-radius: 0; background-image: none;}
.manage__default__style .table__vertical {border-radius: 0; background-image: none;}

.manage__default__style .table__vertical tbody td { white-space: nowrap; padding: 0 0.4rem; overflow: hidden;} // 일정 크기 이상 텍스트 길이 길어질 시 ... 표시

.manage__default__style .table__vertical tbody td, .manage__default__style .table__vertical tbody th {color: #191919; min-height: 3.5rem; height: 3.5rem;}
.manage__default__style .table__template__horizontal tbody td {color: #191919; min-height: 3.5rem; }
.manage__default__style .lnb__title h2 {font-size: 2rem; color: #333; font-weight: 500; position: relative; padding-left: 2.2rem; margin-bottom: 1rem;}
.manage__default__style .lnb__title span {font-size: 1.4rem; color: #505050;}
.manage__default__style .lnb__title h2::before {content: ''; display: inline-block; width: 1rem; height: 1rem; border-radius: 50%; border: 0.2rem solid #e10011; opacity: 0.3; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}



// 관리자 전용 표 스타일
.manage__default__style .table__vertical table thead tr th {line-height: 150%; background-color: #f1f1f1; padding: 1.45rem 0.4rem;}
.manage__default__style .table__template__horizontal th {background-color: #f8f8f8;}
.manage__default__style .table__template__horizontal th {padding-left: 1rem;}

.manage__default__style .modal__result tr {
   line-height: 150%;
}


