/*
    회원가입 페이지 CSS
*/ 

.td--flex { display: flex; align-items: center; padding-left: 1rem; flex-wrap: nowrap; }
.td--flex .td--width { width: 100%; display: flex; justify-content: space-between; }
.must__help__message span, .must__help__message p { font-size: 1.5rem; }
.btn__check__dup {font-size: 1.6rem; padding: 0.8rem 1.2rem; border: 0.1rem solid #000; max-height: 5.6rem; min-height: 4rem; border-radius: 0.5rem; box-sizing: border-box; display: inline-flex; align-items: center; justify-content: center;} // width: 10%; color: #000; border: 0.1rem solid #1d1d1d; border-radius: 0.5rem; max-width: 8rem; 
.must__help__message { margin-top: 2.4rem;}
.file-upload-wrapper { display: flex; align-items: center; }
.custom-file-label { background-color: #004A98; color: white; width: 10rem; height: 4rem; line-height: 4rem; cursor: pointer; text-align: center; margin-right: 10px; }

// 입력 폼 스타일
.form__table .with__submit input[type="text"] { width: calc(90%); }
.form__table .with__submit .btn__check__dup { width: calc(10% - 1rem); color: #fff; }
.form__table .col2__th { flex-direction: column; align-items: flex-start; justify-content: center; min-height: 5.8rem; }
.form__table .col2__th span { line-height: 150%; text-align: left; }
.form__table .preview { min-width: auto; }
.form__table tr { line-height: 5.8rem; width: 100%; border-bottom: 0.1rem solid #ddd; }
.form__table th { width: 19.53%; min-width: 18rem; } // 해당 min-width 수치는 임시
.form__table td { flex-grow: 1; line-height: 100%; }
.form__table td input[type="text"], .form__table td input[type="password"] { border: 1px solid #ddd; line-height: 4rem; width: 100%; padding: 0 8px; font-size: 1.6rem; }
.form__table td input[type="submit"] { border: 1px solid #ddd; line-height: 4rem; }
.form__table td select { height: 4rem; border: 1px solid #ddd; }
.form__table .secret__Check .icon__pw-visible { right: 1.8rem; transform: translateY(-50%); }
.form__table .error-message { padding-left: 2rem; padding-bottom: 1rem; }

// 필수 입력
.must__type { position: relative; text-align: left; }
.must__type::after { content: ' *'; color: #FE5555; position: absolute; top: -0.2rem; right: -1rem; font-weight: bold; }

// 회원가입 페이지 
.sign__up__table__wrap .select__renew { background: url(../img/select__renew.png) no-repeat 98% 50%; }
.sign__up__table .radio__wrap .flex { display: flex; align-items: center; }
.sign__up__table .radio__wrap .flex label:nth-of-type(1) { margin-right: 2rem; }
.sign__up__table .radio__wrap input[type="radio"] { appearance: none; width: 2.6rem; height: 2.6rem; border-radius: 50%; margin-right: 0.7rem; border: 1px solid #ccc; }
.sign__up__table .radio__wrap input[type="radio"]:checked { border: 0.6rem solid #000;}
.sign__up__table__wrap .td__date .select__renew { background: url(../img/select__renew.png) no-repeat 92% 50%; }

// 달력 공통
.td__calender { position: relative; width: 33.33%; }
.calender__icon { width: 3rem; height: 3rem; background: url(../img/calendar-days-regular.svg) no-repeat center;}
.td__date select { min-width: 12rem;}
.s-select--no--style { appearance: none; width: 22%; padding: 0 8px; }


